.grid-controller-template {
	align-items: center;
	background-color: rgba( 65, 156, 248, 0.12 );
	display: flex;
	flex-direction: column;
	padding: 3%;
	width: 285px;

	.karma-add-column-view {
		@extend .center-both-flex;
	}

	.karma-add-column-view-border {
		background-color: rgba( 255, 255, 255, 0.54 );
		border: 1px solid #419CF8;
		border-radius: 4px;
		padding: 0px 3px;

		.karma-add-column-view-length {
			background-color: rgba( 65, 156, 248, 0.3 );
			border-radius: 3px;
			height: 38px;
			margin: 11px 3px 10px 3px;
			min-width: 34px;
		}

		.karma-add-column-view-add {

			@extend .center-both-flex;
			background-color: transparent;
			border: 1px dotted #419CF8;
			border-radius: 3px;
			cursor: pointer;
			height: 37.64px;
			position: relative;

			&:before,
			&:after {
				@include box( '8.42px', '1.4px' );

				content: '';
				background-color: #419CF8;
				position: absolute;
			}
			&:after {

				@include box( '1.4px', '8.42px' );

			}
		}
	}

	.karma-add-column-button button {

		background-color: rgba( 65, 156, 248, 0.18 );
		border-radius: 19px;
		color: #419CF8;
		font-family: "HelveticaNeue";
		font-size: 14px;
		height: 36px;
		line-height: 0;
		margin: 20px;

	}

}