/* _-_-_- layout/HEADER -_-_-_ */

.karma-builder-toolbar {
	@extend .center-both-flex;
	@include box( 100% , 46px );
	@include flexbox( $justify-content:space-between );
	background-color: #419CF8;

	.karma-builder-left {
		@include box( auto, 100% );
		@include flexbox( $align-item:stretch );
		padding-left: 21px;

		ul {
			@include box( auto, 100% );
			@include padding( 0,0,0,0 );
			@include margin( 0,0,0,0 );
			@include flexbox( $align-item:stretch );
			list-style: none;

			li {
				@include flexbox( $text-align:inherit, $align-item:center, $justify-content:center );
				@include margin( inherit,0,inherit,39px );
				@extend .HelveticaNeue-font;
				color: rgba( 255, 255, 255, 0.8 );
				cursor: pointer;
				font-size: 14px;
				line-height: 17px;

				> div:not( .builder-upgrade-icon ){
					transition: color .3s;
				}

				&:hover > div {
					color: rgba( 255, 255, 255, 0.6 );
				}

				#karma-upgrade-menu{
					fill: rgba( 255,255,255,1 );
					 transition: fill .3s ;
				 }

				&:hover  #karma-upgrade-menu{
					fill: rgba( 255, 255, 255, .6 );
				}

				.builder-upgrade-icon{
					padding-top: 4px;
				}

				.builder-page-name{
					padding-left: 4px;
				}

				.builder-upgrade-text{
					padding-left: 6px;
				}

				&.builder-brand{
					border-right: 1px solid rgba( 255,255,255,0.19 );
					margin-left: 0;
					padding-right: 25.5px;
				}
			}
		}
	}

	.karma-builder-right {
		@include flexbox( $align-item:stretch );
		@include box(auto, 100%);
		padding-right: 10px;

		ul {
			@include flexbox( $align-item:center );
			@include box(auto, 100%);
			@include margin( 0,0,0,0 );
			list-style: none;

			li {

				@include flexbox( $text-align:inherit, $align-item:center, $justify-content:center );
				@include margin( inherit,inherit,0,20px );
				@extend .HelveticaNeue-font;
				color: rgba(255, 255, 255, 0.8);
				cursor: pointer;
				font-size: 15px;
				line-height: 17px;
				position: relative;


				&.builder-notification{
					padding-top: 4px;
				}

				&.builder-publish{
					@include box( 112px, 32px );
					background-color: rgba( 255,255,255,0.2 );
					border-radius: 3px;
					box-shadow: 0 4px 7px 1px rgba( 57,73,89,0.15 );
					transition-duration: .3s;

					&:hover{
						background-color: rgba( 255,255,255,0.7 );
						color: #419cf8;
						transition-duration: .3s;
					}
				}
				&.builder-save{
					@extend .builder-publish;
				}

				.builder-notification-number{
					@include flexbox( $text-align:center, $align-item:center, $justify-content:center );
					@include box( 17.05px, 17.05px );
					@include element_direction( $top:1px, $right:-11px );
					background-color: #FF5D5C;
					border: 2px solid #419CF8;
					border-radius: 100%;
					box-sizing: border-box;
					color: #FFFFFF;
					font-family: "Helvetica Neue";
					font-size: 8px;
					font-weight: bold;
					line-height: 10px;
					padding-top: 2px;
					position: absolute;
				}
			}
		}
	}


	backface-visibility: hidden;

}
