.karma-check-box-controller{
	padding: $top-space-orange-light 20px 0;
	position: relative;

	.check-box-controller-template{
		@include flexbox( $align-item:center, $justify-content:space-between );
		flex-direction: row;

		.karma-check-box-title{
			color: rgba(57,73,89,0.8);
			font-size: 14px;
			line-height: 17px;
		}
		.karma-check-box-container{

			position: relative;

			.check-box-circle{
	     		@include check-box-button;
			}
		}
	}
}


