.karma-check-box-controller{
	padding: $top-space-orange-light 20px 0;
	position: relative;

	.check-box-controller-template{
		@include flexbox( $align-item:center, $justify-content:space-between );
		flex-direction: row;

		.karma-check-box-title{
			color: rgba(57,73,89,0.8);
			font-size: 14px;
			line-height: 17px;
		}
		.karma-check-box-container{

			position: relative;

			input.check-box-input{
				@include  box(100%);
				cursor: pointer;
				opacity: 0;
				position: absolute;
				z-index: 100;
			}

			.check-box-circle{
				@include flexbox( $align-item:center, $justify-content:center );
				@include  box(24px, 24px);
				border: 1px solid rgba(57,73,89,0.2);
				border-radius: 19px;

				.check-box-circle-fill{
					@include  box(10px, 10px);
					background-color: $builder-accent-color;
					border-radius: 19px;
					transform: scale(0.01 , 0.01);
					transition-duration: .3s;
				}

			}
		}
	}
}

input#karma-input-checkbox-controller:checked + .check-box-circle-fill{
	transform : scale(1, 1);
	transition-duration : .3s;
}
