/* _-_-_- modules/DROPDOWN -_-_-_ */
.karma-dropdown-controller{

	@extend .karma-builder-title-in-box;
	padding: 0 20px;

	.karma-dropdown-label{

		color: $builder-main-color;
		margin-top: $top-space-red;

	}
	.karma-dropdown-body{


		cursor: pointer;
		margin-bottom: $top-space-orange;
		margin-top: $top-space-orange-light;
		position: relative;

		.karma-dropdown-header{

			@extend .space-between;
			align-items: center;

			.karma-dropdown-icon{

				@include dropdown-button;

			}
		}

		.karma-dropdown-options{

			@include box( 250px, 0 );
			background-color: #fff;
			box-shadow: 0 2px 12px 0 $builder-main-color-3;
			display: none;
			flex-direction: column;
			left: 0;
			list-style: none;
			overflow: hidden;
			padding: 7px;
			position: fixed;
			top: 36px;
			z-index: -1;

			&.karma-doropdown-opened{
			  	display: flex;
				height: auto;
				z-index: $level1;
			}

		}

	}
	.karma-dropdown-option{

		align-items: center;
		border-radius: 4px;
		cursor: pointer;
		display: flex;
		padding: 10px;
		transition: background-color .2s;

		.karma-dropdown-option-title {
			transition: color .2s;
		}

		&.karma-selected-dropdown-option{

			background-color: $builder-accent-color-4;

			.karma-dropdown-option-title{
				color: $builder-accent-color;
				font-weight: 500;
			}

		}

		&:not(.karma-selected-dropdown-option):hover{

			.karma-dropdown-option-title {
				color: $builder-accent-color;
			}

		}

		.karma-dropdown-option-icon{
			margin-right: 15px;

		}

	}
}

