/*** Style of setting panel container ***/
#karma-element-setting-panel-container {
	display: flex;
	margin-right: 110px;
	max-width: 450px;
	position: fixed;
	right: 358px;
	top: 408px;
	z-index: $level1;

	.karma-hide-controller{
	  display: none;
	}

	.karma-element-setting-panel {
		width: 285px;
		min-height: 220px;
		border-radius: 4px;
		background-color: $white-color;
		box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.13);
		margin: 17px;
		position: relative;

		.karma-element-setting-panel-header {
			@include box(285px, 46px);
			background: linear-gradient(270deg, #8876FC 0%, $builder-accent-color 100%);
			border-radius: 4px 4px 0 0;
			cursor: all-scroll;
			position: relative;

			.karma-element-setting-panel-header-title {
				@extend .karma-builder-title-in-box;
				color: $white-color;
				font-family:  "HelveticaNeue_Medium";
				padding: 16px 0 15px 20px;
				text-align: left;
				text-transform: capitalize;
			}

			.karma-element-setting-panel-header-svg {
				@extend .center-both-flex;
				@include element_direction(11.51px, 7px);
				cursor: pointer;
				position: absolute;

				.revert-svg {
					@extend .center-both-flex;
					@include box(24.49px, 24.49px);
					@include element_direction(9.51px, 7px);
					background-color: rgba(255, 255, 255, 0.18);
					border-radius: 19px;
					margin-right: 10px;
					svg {
						* {
							stroke: $extra-icon-color !important;
						}
					}
				}

				.karma-setting-panel-close-svg {
					@extend .center-both-flex;
					@include box(24.49px, 24.49px);
					@include element_direction(9.51px, 7px);
					background-color: rgba(255, 255, 255, 0.18);
					border-radius: 19px;
					margin-right: 5px;
					svg {
						* {
							fill: $extra-icon-color;
						}
					}
				}
			}

		}
		
		.karma-element-setting-panel-content {
			overflow: hidden;

			#karma-Builder-form {

				transition:all .3s cubic-bezier(0.2, 0.32, 0.07, 1.01);
				div:last-child .karma-setting-panel-group-button {
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}

				input.hidden-input {
					display: none;
				}

				#elementRow{
					position: relative;
				}

			}
		}

	}
}

.tooltip-div {
	position: fixed;
	display: none;
	width: 50px;
	height: 50px;
	background-color: #ccc;
}
