.karma-element-panel-container {
	position: fixed;
	top: 36%;
	left: 1.3%;

	.karma-element-panel-list {
		@include flexbox(center, center, flex-start);
		flex-wrap: wrap;
		overflow: auto;
		height: 657px;
		padding: 30px;
		.karma-element-single-element {
			&:hover {
				border: 1px solid $builder-accent-color;
				border-radius: 4px;
			}
		}
	}

	.element-panel-button {
		@include box(48px);
		@include flexbox(center, center, center);
		background-color: $white-color;
		border-radius: 100px;
		box-shadow: 0 7px 15px 3px rgba(57, 73, 89, 0.2);
		margin-bottom: 15px;

	}

	.karma-element-panel-add-element-view {
		@include box(524px, 699px);
		@include element_direction($top: 13%, $left: 5%);
		background-color: $white-color;
		border-radius: 3px;
		box-shadow: 0 2px 15px 7px rgba(57, 73, 89, 0.07);
		display: none;
		position: fixed;

		&:after {
			@include element_direction($top: 38%, $left: 4.8%);
			background-color: $white-color;
			border: 1px solid #ffffffeb;
			border-width: 0 2px 2px 0;
			content: "";
			display: inline-block;
			padding: 4px;
			position: fixed;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
		}

		.karma-element-panel-add-element-view-right {
			@include box(350px, 100%);
			border-left: 2px solid rgba(57, 73, 89, 0.08);

			.element-panel-section-container {

				@include flexbox(center, center, flex-start);
				display: none;
				padding: 40px;

				&.karma-active-tab {
					display: flex;
				}

				.element-panel-part-img {
					width: 100%;

					img{
						height: 305px;
						max-width: 100%;
					}
				}
				.element-panel-part-title {
					color: $builder-gray-color;
					font-family: HelveticaNeue;
					font-size: 24px;
					line-height: 29px;
					padding-top: 65px;
					text-align: center;
				}
				.element-panel-part-description {
					color: #828B95;
					font-family: HelveticaNeue;
					font-size: 14px;
					line-height: 22px;
					padding: 19px 33px;
					text-align: center;
				}
				.element-panel-part-button {
					@include flexbox(center, center, center);
					background-color: $builder-accent-color;
					border-radius: 2px;
					color: $white-color;
					font-size: 14px;
					font-weight: 500;
					height: 40px;
					line-height: 17px;
					margin-top: 10px;
					text-align: center;
					width: 106px;

				}
			}

			.element-panel-deactive-part{
				flex-direction: column;
				padding: 0;
			}
		}

		.karma-element-panel-add-element-view-left {
			@include box(174px, 100%);

			.karma-element-panel-add-element-view-filtering {
				@include box(100%, 400px);

				.karma-element-panel-price-filter-container {

					.karma-element-panel-price-filter {
						@include padding(21px, 0, 0, 30px);

						ul li {
							display: block;
							position: relative;
						}

						ul li input[type=radio] {
							position: absolute;
							visibility: hidden;
						}

						ul li label {
							@include margin(16px, auto, 16px, auto);
							display: block;
							position: relative;
							cursor: pointer;
							padding-left: 31px;
							color: #445363;
							font-size: 12px;
							z-index: 10;
						}

						ul li .check {
							@include box(13px, 13px);
							@include element_direction($top: 4px);
							display: block;
							position: absolute;
							border-radius: 100%;
							transition: border .25s linear;
							-webkit-transition: border .25s linear;
							border: 1px solid rgba(57, 73, 89, 0.5);
						}

						ul li .check::before {
							@include box(5px, 5px);
							@include element_direction($top: 3px, $right: auto, $bottom: auto, $left: 3px);
							display: block;
							position: absolute;
							content: '';
							border-radius: 100%;
							transition: background 0.25s linear;
							-webkit-transition: background 0.25s linear;
						}



						input[type=radio]:checked ~ .check::before {
							background: $builder-accent-color;
						}

					}

				}

			}

			.karma-element-panel-add-element-view-content-border {
				border-top: 2px solid rgba(57, 73, 89, 0.08);
				width: 106px;
				margin-left: 30px;
			}

			.karma-builder-addcontent-title {
				color: $builder-simple-text-color;
				font-size: 14px;
			}

			.karma-builder-addcontent {
				@include padding(30px, 0, 0, 30px);

			}

			li.karma-addcontent-disable .karma-addcontent-name {
				color: rgba($builder-gray-color, 0.2);
			}

			.karma-addcontent-name {
				padding-left: 17px;
				color: #7C8691;
				font-size: 14px;
				transition-duration: .3s;
			}

			li.karma-addcontent-disable .karma-addcontent-icon {
				svg {
					* {
						fill: #D0D6DA;
						transition-duration: .3s;
					}
				}
			}

			.karma-builder-addcontent ul {
				display: flex;
				flex-direction: column;
				align-items: left;
				list-style: none;
			}

			li.karma-addcontent {
				@include flexbox(center, center, center);
				padding-top: 20px;
				&:not(.karma-addcontent-disable):hover {
					.karma-addcontent-icon {
						svg {
							* {
								fill: $builder-accent-color;
								transition-duration: .3s;
								cursor: pointer;
							}
						}
					}

					.karma-addcontent-name {
						color: $builder-accent-color;
						transition-duration: .3s;
						cursor: pointer;
					}
				}

			}
		}
	}

	.element-panel-show {
		display: flex;
	}

	#ascrail2000 .nicescroll-cursors {
		height: 142px !important;
	}

}
/** Separate these stylesheet for jquery UI */
.karma-element-single-element{
	@include flexbox( center, center, center );
	@include box( 89px, 94px );
	background-color: $builder-element-panel-background-color;
	cursor: -webkit-grab;
	cursor: grab;
	flex-direction: column;
	transition: border .3s  cubic-bezier(0.445, 0.05, 0.55, 0.95);
	&.karma-start-dragging{
		visibility: hidden;
	}
	&.karma-grab-element{
		box-shadow: 0 4px 4px 0 rgba( 68, 83, 99, 0.2 );
		&:hover{
			border: none !important;
		}
	}
}
.karma-element-single-element-name{
	margin-top: 13px;
	text-transform: capitalize;
	span{
		color: $builder-simple-text-color;
		font-size: 12px;
		line-height: 14px;
	}

}







