.karma-element-panel-container {
	left: 1.3%;
	position: fixed;
	top: 36%;
	z-index: 1000;

	.karma-element-panel-list {
		@include flexbox(center, center, flex-start);
		flex-wrap: wrap;

		.karma-elements{
			@include flexbox(center, flex-start, flex-start );
			@include box( 100%,  69vh );
			flex-wrap: wrap;
			overflow: hidden;
			padding: 0 40px 40px 40px;
		}

		.karma-element-single-element {
		  border: 1px solid transparent;
		  border-radius: 4px;
			&:hover {
				border: 1px solid $builder-accent-color;
			}
		}
	}

	.element-panel-button {
		@include box(48px);
		@include flexbox(center, center, center);
		background-color: $white-color;
		border-radius: 100px;
		box-shadow: 0 7px 15px 3px rgba(57, 73, 89, 0.2);
		margin-bottom: 15px;
		cursor: pointer;

		&.element-panel-add-element-button{
			svg{
				margin-left: 1px;
				margin-top: 1px;
			}
		}

	}

	.karma-element-panel-add-element-view {
		@include karma-box(524px, inherit);
		@include element_direction($top: 13%, $left: 5%);
		display: none;
		position: fixed;

		&:after {
			@include element_direction($top: 38%, $left: 4.8%);
			background-color: $white-color;
			border: 1px solid #ffffffeb;
			border-width: 0 2px 2px 0;
			content: "";
			display: inline-block;
			padding: 4px;
			position: fixed;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
		}

		.karma-element-panel-add-element-view-right {
			@include box(350px, 100%);
			border-left: 2px solid rgba(57, 73, 89, 0.08);

			.element-panel-permium{
				flex-direction: column;
				padding: 0;
				height: 76.9vh;
			}

			.element-panel-section-container {

				@include flexbox(center, center, flex-start);
				display: none;

				&.karma-active-tab {
					display: flex;
				}

				.element-panel-part-img {
					width: 100%;

					img{
						height: 305px;
						max-width: 100%;
					}
				}
				.element-panel-part-title {
					color: $builder-gray-color;
					font-family: HelveticaNeue;
					font-size: 24px;
					line-height: 29px;
					padding-top: 65px;
					text-align: center;
				}
				.element-panel-part-description {
					color: #828B95;
					font-family: HelveticaNeue;
					font-size: 14px;
					line-height: 22px;
					padding: 19px 33px;
					text-align: center;
				}
				.element-panel-part-button {
					@include flexbox(center, center, center);
					background-color: $builder-accent-color;
					border-radius: 2px;
					cursor: pointer;
					color: $white-color;
					font-size: 14px;
					font-weight: 500;
					height: 40px;
					line-height: 17px;
					margin-top: 10px;
					text-align: center;
					width: 106px;

				}
			}

			.element-panel-deactive-part{
				flex-direction: column;
				padding: 0;
				height: 76.9vh;
			}
		}

		.karma-element-panel-add-element-view-left {
			@include box(174px, 100%);

			.karma-element-panel-add-element-view-filtering {
				@include box(100%, inherit);

				.karma-element-panel-price-filter-container {

					.karma-element-panel-price-filter {
						padding: 21px 0 0 30px;

						ul li {
							display: block;
							position: relative;
						}

						ul li input[type=radio] {
							position: absolute;
							visibility: hidden;
						}

						ul li label {
							margin: 16px auto;
							color: #445363;
							cursor: pointer;
							display: block;
							font-size: 12px;
							padding-left: 31px;
							position: relative;
							line-height: 1.7;
							z-index: 10;
						}
						
						ul li .check {
							@include box(13px, 13px);
							@include element_direction($top: 4px);
							border: 1px solid rgba(57, 73, 89, 0.5);
							border-radius: 100%;
							display: block;
							position: absolute;
							transition: border .25s linear;
							-webkit-transition: border .25s linear;
						}

						ul li .check::before {
							@include box(5px, 5px);
							@include element_direction($top: 3px, $right: auto, $bottom: auto, $left: 3px);
							border-radius: 100%;
							content: '';
							display: block;
							position: absolute;
							transition: background 0.25s linear;
							-webkit-transition: background 0.25s linear;
						}



						input[type=radio]:checked ~ .check::before {
							background: $builder-accent-color;
						}

					}

				}

			}

			.karma-element-panel-add-element-view-content-border {
				border-top: 2px solid rgba(57, 73, 89, 0.08);
				margin-left: 30px;
				width: 106px;
			}

			.karma-builder-addcontent-title {
				color: $builder-simple-text-color;
				font-size: 14px;
			}

			.karma-builder-addcontent {
				padding: 40px 0 0 30px;
			}

			li.karma-addcontent-disable .karma-addcontent-name {
				color: #D0D6DA;
				cursor: pointer;
			}

			.karma-addcontent-name {
				color: #7C8691;
				font-size: 14px;
				padding-left: 17px;
				transition-duration: .3s;
			}
			.karma-addcontent-icon {
				svg {
					* {
						cursor: pointer;
						fill: #7C8691;
					}
				}
			}
			li.karma-addcontent-disable .karma-addcontent-icon {
				svg {
					* {
						cursor: pointer;
						transition-duration: .3s;
						fill: #D0D6DA;
					}
				}
			}

			.karma-builder-addcontent ul {
				align-items: left;
				display: flex;
				flex-direction: column;
				list-style: none;
				padding-bottom: 14px;
			}

			li.karma-addcontent {
				@include flexbox(center, center, center);
				padding-top: 23px;
				&:not(.karma-addcontent-disable) {

					&:hover {
						.karma-addcontent-icon {
							svg {
								* {
									cursor: pointer;
									transition-duration: .3s;
									fill: $builder-accent-color;
								}
							}
						}

						.karma-addcontent-name {
							color: $builder-accent-color;
							cursor: pointer;
							transition-duration: .3s;
						}
					}
					&.karma-addcontent-active{

						.karma-addcontent-icon {
							svg {
								* {
									cursor: pointer;
									transition-duration: .3s;
									fill: $builder-accent-color;
								}
							}
						}

						.karma-addcontent-name {
							color: $builder-accent-color;
							cursor: pointer;
							transition-duration: .3s;
						}

					}
				}

			}
		}
	}

	.element-panel-show {
		display: flex;
	}

}
/** Separate these stylesheet for jquery UI */
.karma-element-single-element{
	@include flexbox( center, center, center );
	@include box( 89px, 94px );
	background-color: $builder-element-panel-background-color;
	cursor: -webkit-grab;
	cursor: grab;
	flex-direction: column;
	transition: border .3s  cubic-bezier(0.445, 0.05, 0.55, 0.95);
	&.karma-start-dragging{
		visibility: hidden;
	}
	&.karma-grab-element{
		box-shadow: 0 4px 4px 0 rgba( 68, 83, 99, 0.2 );
		z-index: 9999;
		&:hover{
			border: none !important;
		}
	}
}
.karma-element-single-element-name{
	margin-top: 13px;
	text-transform: capitalize;
	span{
		color: $builder-simple-text-color;
		font-size: 12px;
		line-height: 14px;
	}

}

	.element-panel-section-container {
		.karma-builder-element-panel-header {

			align-items: center;
			display: flex;
			padding: 26px 40px 6px 40px;
			justify-content: flex-end;
			width: 100%;

		}
}


		.karma-builder-element-panel-gather-menu{

			cursor: pointer;
			padding-left: 12px;
		  	position: relative;

			&.karma-open-element-category-dropdown{

				ul{
					display: block;
				}

			}

			ul{
				@include karma-box( 154px, auto );
				@include element_direction( $top:25, $right:0 );
				color: #394959;
				cursor: default;
				display: none ;
				font-family: HelveticaNeue;
				font-size: 14px;
				line-height: 16px;
				list-style: none;
				padding: 10px;
				position: absolute;
				text-align: left;


				li{
					border-radius: 4px;
					cursor: pointer;
					padding: 10px 10px;

					&:hover{
						background-color: rgba(65,156,248,0.1);
					}
				}
			}
		}

.karma-builder-element-panel-gather-menu{
	cursor: pointer;
	padding-left: 12px;
}

.karma-builder-element-panel-search{
	cursor: pointer;
}

input.karma-builder-search-text{
	border-radius: 2px;
	border: 1px solid transparent;
	box-sizing: border-box;
	background: url('../../builder/media/svg/search.svg')no-repeat left 9px center transparent;
	color: #9EA6AE;
	cursor: pointer;
	font-size: 12px;
	height: 40px;
	margin: 0;
	padding-left: 26px;
	position:relative;
	transition: z-index 0.8s, width 0.5s, background  0.3s ease, border 0.3s;
	width: 0;
	z-index:5;

}

input.karma-builder-search-text:focus {
	border: 1px solid #F8F8F9;
	background-color: #F8F8F9;
	cursor:auto;
	padding-left: 35px;
	outline: none;
	transition-duration: 0.1s;
	transition: z-index 0.8s, width 0.5s, background  0.3s ease, border 0.3s;
	width: 250px;
	z-index:3;
}

input.karma-builder-search-text::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}




