.karma-element-panel-container {
	left: 26px;
	position: fixed;
	top: 36%;
	z-index: 1000;

	.karma-element-panel-list {
		@include flexbox(center, center, flex-start);
		flex-wrap: wrap;

		.karma-elements{
			@include flexbox(center, flex-start, flex-start );
			flex-wrap: wrap;
			max-height: calc( 100% - ( 72px + 4.44vh ) );
			overflow: hidden;
			padding: 0 1vw 4.44vh 2vw;
			width: 100%;
		}

		.karma-element-single-element {
		  border: 1px solid transparent;
		  border-radius: 4px;
			&:hover {
				border: 1px solid $builder-accent-color;
			}
		}
	}

	.element-panel-button {
		@include box(48px);
		@include flexbox(center, center, center);
		background-color: $white-color;
		border-radius: 100px;
		box-shadow: 0 7px 15px 3px rgba(57, 73, 89, 0.2);
		cursor: pointer;
		margin-bottom: 15px;

		&.element-panel-add-element-button{
			svg{
				margin-left: 1px;
				margin-top: 1px;
			}
		}

	}

	.karma-element-panel-add-element-view {

		@include karma-box(27.29vw, 77vh);
		@include element_direction($top: 13vh, $left: 95px);
		display: none;
		position: fixed;

		&:after {
			@include element_direction($top: 38%, $left: 89px);
			background-color: $white-color;
			border: 1px solid #ffffffeb;
			border-width: 0 2px 2px 0;
			content: "";
			display: inline-block;
			padding: 4px;
			position: fixed;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
		}

		.karma-element-panel-add-element-view-right {
			@include box(18.2vw, 100%);
			border-left: 2px solid rgba(57, 73, 89, 0.08);

			.element-panel-permium{
				flex-direction: column;
				height: 76.9vh;
				padding: 0;
			}

			.element-panel-section-container {

				@include flexbox(center, center, flex-start);
				display: none;

				&.karma-active-tab {
					display: flex;
				}

				.element-panel-part-img {
					width: 100%;

					img{
						max-width: 100%;
					}
				}
				.element-panel-part-title {
					@include fluid-type(1280px, 1366px, 20px, 24px);
					color: $builder-gray-color;
					font-family: HelveticaNeue;
					font-size: 24px;
					line-height: 29px;
					padding-top: 7.2vh;
					text-align: center;
				}
				.element-panel-part-description {
					@include fluid-type(1280px, 1366px, 12px, 14px);
					color: #828B95;
					font-family: HelveticaNeue;
					font-size: 14px;
					line-height: 22px;
					padding: 19px 1.7vw;
					text-align: center;
				}
				.element-panel-part-button {
					@include flexbox(center, center, center);
					background-color: $builder-accent-color;
					border-radius: 2px;
					color: $white-color;
					cursor: pointer;
					font-size: 14px;
					font-weight: 500;
					height: 40px;
					line-height: 17px;
					margin-top: 10px;
					text-align: center;
					width: 106px;

				}
			}

			.element-panel-deactive-part{
				flex-direction: column;
				height: 76.9vh;
				padding: 0;
			}
		}

		.karma-element-panel-add-element-view-left {
			box-shadow:1px 0px 8px -3px rgba(57, 73, 89, 0.07);
			width: 9.06vw;

			.karma-element-panel-add-element-view-filtering {

				.karma-element-panel-price-filter-container {

					.karma-element-panel-price-filter {
						padding: 2.33vh 0.56vw 0 1.56vw;

						ul{
							li{

								&[ data-filter = '.mysection' ] {
									display: none;
								}

								display: block;
								position: relative;

								label{

									@include fluid-type(1288px, 1366px, 11px, 12px);
									color: #445363;
									cursor: pointer;
									display: block;
									font-size: 12px;
									line-height: 1.7;
									margin: 1.77vh auto;
									padding-left: 1.61vw;
									position: relative;
									z-index: 10;

								}

								.check{

									@include box(13px, 13px);
									@include element_direction($top: 4px);
									border: 1px solid rgba(57, 73, 89, 0.5);
									border-radius: 100%;
									display: block;
									position: absolute;
									transition: border .25s linear;
									-webkit-transition: border .25s linear;

									&:before{

										@include box(5px, 5px);
										@include element_direction($top: 3px, $right: auto, $bottom: auto, $left: 3px);
										border-radius: 100%;
										content: '';
										display: block;
										position: absolute;
										transition: background 0.25s linear;
										-webkit-transition: background 0.25s linear;

									}

								}

								&.active{

									.check:before{

										background: $builder-accent-color;

									}

								}

							}

						}

					}

				}

			}

			.karma-element-panel-add-element-view-content-border {
				border-top: 2px solid rgba(57, 73, 89, 0.08);
				margin: 0 auto;
				width: 5.52vw;
			}

			.karma-builder-addcontent-title {
				@include fluid-type(1288px, 1366px, 12px, 14px);
				color: $builder-simple-text-color;
				font-size: 14px;
			}

			.karma-builder-addcontent {
                padding: 4.44vh 1.56vw 0 1.56vw;
			}

			li.karma-addcontent-disable .karma-addcontent-name {
				color: #D0D6DA;
				cursor: pointer;
			}

			.karma-addcontent-name {
				@include fluid-type(1288px, 1366px, 12px, 14px);
				color: #7C8691;
				font-size: 14px;
				padding-left: 0.88vw;
				transition-duration: .3s;
			}
			.karma-addcontent-icon {
				svg {
					* {
						cursor: pointer;
						fill: #7C8691;
					}
				}
			}
			li.karma-addcontent-disable .karma-addcontent-icon {
				svg {
					* {
						cursor: pointer;
						transition-duration: .3s;
						fill: #D0D6DA;
					}
				}
			}

			.karma-builder-addcontent ul {
				align-items: left;
				display: flex;
				flex-direction: column;
				list-style: none;
				padding-bottom: 1.55vh;
			}

			li.karma-addcontent {
				@include flexbox(center, center, center);
				padding-top: 2.55vh;
				&:not(.karma-addcontent-disable) {

					&:hover {
						.karma-addcontent-icon {
							svg {
								* {
									cursor: pointer;
									transition-duration: .3s;
									fill: $builder-accent-color;
								}
							}
						}

						.karma-addcontent-name {
							color: $builder-accent-color;
							cursor: pointer;
							transition-duration: .3s;
						}
					}
					&.karma-addcontent-active{

						.karma-addcontent-icon {
							svg {
								* {
									cursor: pointer;
									transition-duration: .3s;
									fill: $builder-accent-color;
								}
							}
						}

						.karma-addcontent-name {
							color: $builder-accent-color;
							cursor: pointer;
							transition-duration: .3s;
						}

					}
				}

			}
		}

		&[ data-active-tab = 'element-panel-section' ]{
			.karma-element-panel-add-element-view-left{
				.karma-element-panel-add-element-view-filtering{
					.karma-element-panel-price-filter-container{
						.karma-element-panel-price-filter{
							ul {
								li[ data-filter = '.mysection' ] {
									display: block;
								}
							}
						}
					}

				}
			}

		}
		&[ data-active-tab = 'element-panel-image' ]{
			.karma-element-panel-add-element-view-left{
				.karma-element-panel-add-element-view-filtering{
					.karma-element-panel-price-filter-container{
						.karma-element-panel-price-filter{
							ul {
								li{
									display: none;
								}
								li[ data-filter = '*' ]{
									display: block;
								}
							}
						}
					}

				}
			}

		}

	}

	.element-panel-show {
		display: flex;
	}

}

/** Separate these stylesheet for jquery UI */
.karma-element-single-element{
	@include flexbox( center, center, center );
	@include box( 89px, 94px );
	background-color: $builder-element-panel-background-color;
	cursor: -webkit-grab;
	cursor: grab;
	flex-direction: column;
	transition: border .3s  cubic-bezier(0.445, 0.05, 0.55, 0.95);
	&.karma-start-dragging{
		visibility: hidden;
	}
	&.karma-grab-element{
		box-shadow: 0 4px 4px 0 rgba( 68, 83, 99, 0.2 );
		z-index: 9999;
		&:hover{
			border: none !important;
		}
	}
}

.karma-element-single-element-name{
	margin-top: 13px;
	text-transform: capitalize;
	span{
		color: $builder-simple-text-color;
		font-size: 12px;
		line-height: 14px;
	}

}

.element-panel-section-container {

		.karma-builder-element-panel-header {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding: 2.8vh 2.08vw 0.6vh 2.08vw;
			position: relative;
			width: 100%;

			.karma-search-close-icon{
				opacity: 0;
				padding: 0;
				background-color: inherit;
				position: absolute;
				right: 80px;
				z-index: 0;
				transition-duration: .2s;


				&.show-search-close-icon{
					opacity: 1;
					transition-duration: .2s;
					z-index: $level4;

				}
			}

		}
	}

.karma-builder-element-panel-gather-menu{

			cursor: pointer;
			padding-left: 0.62vw;
		  	position: relative;

			&.karma-open-element-category-dropdown{

				ul{
					display: block;
				}

			}

			ul{
				@include karma-box( 8.05vw, auto );
				@include element_direction( $top:25px, $right:0 );
                color: #394959;
				cursor: default;
				display: none ;
				font-size: 14px;
				line-height: 16px;
				list-style: none;
				padding: 1.1vh 0.52vw;
				position: absolute;
				text-align: left;
				z-index: 20;
				@include fluid-type(1288px, 1440px, 11px, 14px);

				li{
					border-radius: 4px;
					cursor: pointer;
					padding: 1.1vh 0.52vw;

					&:hover{
						background-color: rgba(65,156,248,0.1);
					}
				}
			}
		}

.karma-builder-element-panel-search{
	cursor: pointer;
}

input.karma-builder-search-text{
	background: url('../../builder/media/svg/search.svg')no-repeat left 0.46vw center transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	box-sizing: border-box;
	color: #9EA6AE;
	cursor: pointer;
	font-size: 12px;
	height: 40px;
	margin: 0;
	padding-left: 1.35vw;
	position:relative;
	transition: z-index 0.8s, width 0.5s, background  0.3s ease, border 0.3s;
	width: 0;
	z-index:5;

}

input.karma-builder-search-text.open-search-panel {
	background-color: #F8F8F9;
	border: 1px solid #F8F8F9;
	cursor:auto;
	outline: none;
	padding-left: 1.82vw;
	padding-right: 1.5vw;
	transition: z-index 0.8s, width 0.5s, background  0.3s ease, border 0.3s;
	transition-duration: 0.3s;
	width: 13.02vw;
	z-index:3;
}




