.karma-element-panel-container{
	position: fixed;
	top: 36%;
	left:1.3%;

	.element-panel-button{
		@include flexbox( center, center, center );
		background-color: #FFFFFF;
		border-radius: 100px;
		box-shadow: 0 7px 15px 3px rgba(57,73,89,0.2);
		height: 48px;
		margin-bottom: 15px;
		width: 48px;
	}
	
	.karma-element-panel-add-element-view{
		background-color: #FFFFFF;
		border-radius: 5px;
		border-radius: 3px;
		box-shadow: 0 2px 15px 7px rgba(57,73,89,0.07);
		display: none;
		height: 699px;
		left: 5%;
		position: fixed;
		top: 13%;
		width: 524px;

		&:after{
			background-color: white;
			border: 1px solid #ffffffeb;
			border-width: 0 2px 2px 0;
			content: "";
			display: inline-block;
			left: 4.8%;
			padding: 4px;
			position: fixed;
			top: 38%;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
		}

		.karma-element-panel-add-element-view-right{
			border-left: 2px solid rgba(57, 73, 89, 0.08);
			height:100%;
			width:350px;

		}
		.karma-element-panel-add-element-view-left{
			height:100%;
			width:174px;

			.karma-element-panel-add-element-view-filtering{
				height: 400px;
				width: 100%;
			}

			.karma-element-panel-add-element-view-content-border{
				border-top: 2px solid rgba(57, 73, 89, 0.08);
				width: 106px;
				margin-left: 30px;
			}

			.karma-builder-addcontent-title {
				color: #445363;
				font-size: 14px;
			}

			.karma-builder-addcontent{
				@include padding(30px, 0, 0, 30px);

			}

			.karma-addcontent-name{
				padding-left: 17px;
				color:#7C8691;
				font-size: 14px;
			}

			.karma-addcontent-icon {
				svg {
					* {
						fill: #7C8691;
					}
				}
			}

			.karma-builder-addcontent ul{
				display: flex;
				flex-direction: column;
				align-items: left;
				list-style: none;
			}

			li.karma-addcontent{
				@include flexbox( center, center, center );
				padding-top: 20px;
			}
		}
	}
	.element-panel-show{
		display: flex;
	}
	
}









