/* _-_-_- modules/GIZMO -_-_-_ */

label{
	@include margin( 0, 0, 0, 0 );
	@include padding( 0, 0, 0, 0 );
}

.karma-spacing {
	height: 5px;
	position: relative;

  	&.karma-top-spacing-height{
	  height:0;
	}

	&.karma-top-spacing {
		position: absolute;
		top: 0;
		width: 100%;

		.spacing-dot:after{
			@include element_direction( $top: 0, $left: -8px )
		}
	}
	&.karma-left-spacing.ui-resizable.karma-left-spacing {

		height: 100%;
		left: 0 !important;
		position: absolute;
		top: 0;

		.karma-spacing-dot-container {
			cursor: e-resize;
			left: -12px !important;
			top: 50%;
		}

		.spacing-dot:after{
			@include element_direction( $top: -8px, $left: 0 )
		}
	}

	&.karma-right-spacing.ui-resizable.karma-right-spacing {
		height: 100%;
		left: initial !important;
		position: absolute;
		right: 0 !important;
		top: 0;

		.karma-spacing-dot-container {
			cursor: w-resize;
			left: calc(100% - 12px) !important;
			top: 50%;
		}

		.spacing-dot:after{
			@include element_direction( $top: -8px, $right: 0 )
		}
	}

	&.karma-bottom-spacing {
		bottom: 0px !important;
		position: absolute;
		top: initial !important;
		width: 100%;

		.karma-spacing-dot-container {
			bottom: -12px !important;
			cursor: s-resize;
			top: initial !important;
		}

		.spacing-dot:after{
			@include element_direction( $bottom: 0, $left: -8px )
		}
	}
}

.karma-spacing .resize-handler {
	height: 100%;
	position: absolute;
	width: 100%;
}

.tooltip-div {
	align-items: center;
	background-color: #76c1f3;
	border-radius: 100px;
	color: $white-color;
	display: none;
	display: flex;
	font-family: HelveticaNeue;
	font-size: 9px;
	height: 16px;
	justify-content: center;
	position: fixed;
	text-align: center;
	width: 39px;
}

.karma-builder-element {
	position: relative;

	&.karma-active-element .karma-gizmo-template{
		display: flex;
	}
	.karma-inner-gizmo-template{
		@include element_direction($top: 17px, $right: 17px);
	}

	.karma-outer-gizmo-template{
		@include element_direction($top: -44px, $right: 0);
	}

	.karma-gizmo-template {
		@include box(auto, 35px);
		@include flexbox(center, center, center);
		background-color: $white-color;
		border-radius: 3px;
		box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
		direction: rtl;
		font-size: initial;
		position: absolute;
		z-index: $level2;
		display: none;

		div {
			cursor: pointer;
			white-space: nowrap;
		}

		.karma-builder-gizmo-simpleIcon {
			@include padding(0, 12px, 0, 11px);
			@include box(auto, 22px);
			align-items: center;
			border-left: 1px solid rgba(151, 151, 151, 0.3);
			display: flex;
			transition-duration: 0.1s;
			div {
				display: flex;
			}
			&:hover {
				svg {
					* {
						transition-duration: 0.1s;
						fill: #419CF8;
					}
				}
			}
		}

		.karma-builder-gizmo-simpleText {
			@include padding(0, 15px, 0, 15px);
			color: #394959;
			font-family: HelveticaNeue;
			font-size: 13px;
			transition: all 0.3s ease;
		}

		.karma-builder-gizmo-simpleText:hover {
			color: #419CF8;
			transition: all 0.3s ease;
		}

		.row-gizmo-group {
			@include box(auto, 35px);
			@include flexbox(center, center, center);
			@include element_direction($top: 17px, $right: 17px);
			background-color: $white-color;
			border-radius: 3px;
			box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
			direction: rtl;
			position: absolute;

			div {
				cursor: pointer;
			}

			.karma-builder-gizmo-icon {
				@include padding(0, 10px, 0, 10px);
				@include box(auto, 22px);
				border-left: 1px solid rgba(151, 151, 151, 0.3);

			}
			.karma-builder-gizmo-text {
				@include padding(0, 15px, 0, 15px);
				color: #394959;
				font-family: HelveticaNeue;
				font-size: 13px;
			}
		}


}

.karma-spacing-dot-container {

	@include box( 22px, 23px );
	cursor: n-resize;
	display: none;
	left: 48%;
	position: absolute;
	top: -12px;

	&:hover .spacing-dot-hover {
		@include box( 22px, 22px);
		transition: width 250ms cubic-bezier(0.23, 1, 0.32, 1), height 250ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.spacing-dot-hover {
		@include box( 0, 0 );
		background-color: rgba(51, 143, 252, 0.3);
		border-radius: 100%;
		transition: width 250ms cubic-bezier(0.23, 1, 0.32, 1), height 250ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.spacing-dot {
		@include box( 8px, 8px );
		@include center('both');
		background-color: $white-color;
		border: 1px solid $builder-accent-color;
		border-radius: 100%;
		box-sizing: border-box;
	    z-index:$level1;

		&:after{
			@include box( 22px, 22px );
			content: "";
			position: absolute;

		}

	}

  .spacing-top-hover{
	@include element_direction($top:0, $left:0);
	@include box(22px, 14px);
	display: block;
	margin-top: 10px;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{
		@include center('both');
		top:3px;
	}
  }

  .spacing-bottom-hover{
	@include element_direction($top:0, $left:0);
	@include box(22px, 11px);
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;



	.spacing-dot-hover{
		@include center('both');
		top:12px;
	}
  }

  .spacing-left-hover{
	@include element_direction($top:0, $left:0);
	@include box(14px, 24px);
	display: block;
	margin-left: 10px;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{
		@include center( 'vertical' );
		left: -10px;
	}
  }

  .spacing-right-hover{
	@include box(14px, 24px);
	@include element_direction($top:0, $left:-2px);
	display: block;
	margin-right: 10px;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{

		@include center( 'vertical' );
		right: -10px;

	}
  }

}

.row-bottom-spacing-dot-container {
	align-items: center;
	bottom: -9px;
	cursor: n-resize;
	display: none;
	height: 18px;
	justify-content: center;
	left: 48%;
	position: absolute;
	width: 18px;

	&:hover .spacing-bottom-dot-hover {
		display: block;
	}

	.spacing-bottom-dot-hover {
		align-items: center;
		background-color: rgba(51, 143, 252, 0.3);
		border-radius: 100%;
		display: none;
		height: 18px;
		justify-content: center;
		width: 18px;

	}
	.spacing-bottom-dot {
		background-color: $white-color;
		border: 1px solid $builder-accent-color;
		border-radius: 100%;
		box-sizing: border-box;
		height: 8px;
		position: absolute;
		width: 8px;

	}
}

.row-gizmo-group{
	display: none;
}

.karma-active-section {

	.karma-row {
		box-shadow: 0 0 0 1px rgba(118, 129, 140, 0.18);

		> .karma-builder-element:last-child {
			.resize-handler {
				display: none;
			}

			.karma-right-spacing  .karma-spacing-dot-container{
				left: calc(100% - 9px) !important;
			}
		}
		.resize-handler {
			@include box( 12px, 100% );
			cursor: col-resize;
			position: absolute;
			right: -5px;
			top: 0;
			z-index: $level4;
		}

		.resize-handler:before {
			@include center( 'horizontal' );
			@include box( 1px, 100% );
			background-color: rgba(118, 129, 140, 0.18);
			content: " ";
			cursor: col-resize;
			top: 0;
			transition: background-color .3s , width .2s;
		}

		.resize-handler:hover:before {
			background-color: rgba(51, 143, 252, 0.3);
			width: 4px;
		}

	}

	}

	.karma-active-column {
		.karma-column-setting {
			@include padding(0, 4px, 0, 3px);
			background-color: #76818C;
			cursor: pointer;
			display: block;
			left: 0;
			line-height: 16px;
			position: absolute;
			top: -17px;
			z-index: $level3;

			.karama-gizmo-icon {
				svg {
					@include box(10.31px, 11.31px);
					* {
						fill: $white-color;
					}
				}
			}

			.karma-gizmo-title {
				color: $white-color;
				font-family: HelveticaNeue;
				font-size: 10px;
				padding-left: 2.69px;
				vertical-align: top;
			}
		}

	}

	.karma-right-spacing.ui-resizable-resizing {
		background-color: rgba(51, 143, 252, 0.1);
		border-left: 1px solid rgba(51, 143, 252, 0.3); ;
	}
	.karma-left-spacing.ui-resizable-resizing {
		background-color: rgba(51, 143, 252, 0.1);
		border-right: 1px solid rgba(51, 143, 252, 0.3); ;
	}

	.karma-right-spacing .spacing-dot{
		right:7px;
	}
	.karma-left-spacing .spacing-dot{
		left:11px;
	}
}

.karma-column-setting {
	display: none;
}

