/* _-_-_- modules/GIZMO -_-_-_ */

label{
	margin: 0;
	padding: 0;
}

img{
	max-height: inherit;
	max-width: inherit;
}

.karma-spacing {
	height: 5px;
	position: relative;

  	&.karma-top-spacing-height{
		@include box( initial, 0 );
	}
	
	&.karma-top-spacing {
		@include box( 100%, initial );
		position: absolute;
		top: 0;

		.spacing-dot:after{
			@include element_direction( $top: 0, $left: -8px )
		}
	}

	&.karma-left-spacing.ui-resizable.karma-left-spacing {
		@include element_direction( $top:0,  $left:0 !important );
		@include box( initial, 100% );
		position: absolute;

		.karma-spacing-dot-container {
			cursor: e-resize;
			left: -12px !important;
			top: 50%;
		}

		.spacing-dot:after{
			@include element_direction( $top: -8px, $left: 0 )
		}
	}

	&.karma-right-spacing.ui-resizable.karma-right-spacing {
		@include element_direction( $top:0, $right:0 !important,  $left:initial !important );
		height: 100%;
		position: absolute;


		.karma-spacing-dot-container {
			cursor: w-resize;
			left: calc(100% - 12px) !important;
			top: 50%;
		}

		.spacing-dot:after{
			@include element_direction( $top: -8px, $right: 0 )
		}
	}

	&.karma-bottom-spacing {
		bottom: 0px !important;
		position: absolute;
		top: initial !important;
		width: 100%;

		.karma-spacing-dot-container {
			bottom: -12px !important;
			cursor: s-resize;
			top: initial !important;
		}

		.spacing-dot:after{
			@include element_direction( $bottom: 0, $left: -8px )
		}
	}
}

.karma-spacing .resize-handler {
	@include box( 100%, 100% );
	position: absolute;
}

.tooltip-div {
    @include box( 39px, 16px );
	@include flexbox( $text-align:center, $align-item:center, $justify-content:center );
	background-color: #76c1f3;
	border-radius: 100px;
	color: $white-color;
	font-family: HelveticaNeue;
	font-size: 9px;
	position: fixed;

}

.karma-builder-element {
	position: relative;

	&.karma-active-element .karma-gizmo-template{
		display: flex;
	}

	.karma-inner-gizmo-template{
		@include element_direction($top: 17px, $right: 17px);
	}

	.karma-outer-gizmo-template{
		@include element_direction($top: -44px, $right: 0);
	}

	.karma-gizmo-template {
		@include box(auto, 35px);
		@include flexbox(center, center, center);
		background-color: $white-color;
		border-radius: 2px;
		box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
		direction: rtl;
		display: none;
		font-size: initial;
		padding:0 9px;
		position: absolute;
		z-index: 95;
		> div {
			>div {
				cursor: pointer;
				padding: 0 3px;
				position: relative;
				white-space: nowrap;
			}
		}
		.karma-drop-down-icon{
			background-color: inherit;
			border:none;
			margin: 0;
			padding: 0 6px;
			outline: none;
		}
		.karma-drop-down-box{
			@include element_direction( $top: 32px, $left:-3px );
			background-color: white;
			border-radius: 4px;
			box-shadow: 0 2px 12px 0 rgba(57,73,89,0.2);
			cursor: auto;
			display: none;
			flex-direction: column;
			position: absolute;

			&:after{
				@include element_direction( $top: -6px, $left:28% );
				@include box( 0, 0 );
				border-bottom: 8px solid white;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				content: '';
				position: absolute;
			}

			button{
				@include box( 30px, auto );
				background-color: inherit;
				border:none;
				border-radius: 3px;
				margin: 5px;
				padding: 6px;
				outline: none;
				&:hover{
					background-color: rgba(65,156,248,0.15);
				}

			}
			&.open-drop-down-gizmo{
				display: flex;
			}
		}

		.karma-typography-drop-down{

			flex-direction: column;
			left: -12px;

			.karma-typography-drop-down-icons{
				flex-direction: row;
			}

			.karma-typography-link{

				border-top: 1px solid rgba(57,73,89,0.2);
				font-family: HelveticaNeue;

				a{
					border-bottom: none;
					box-shadow: none;
					color: #419CF8;
					font-size: 12px;
					font-weight: 500;
					line-height: 33px;
					
					&:hover{
						 opacity: 0.8;
					}
				}

			}

			div{
				display: flex;
				flex-direction: column;
			}
		}

		.karma-builder-gizmo-icon {
			align-items: center;
			display: flex;
			height: 22px;
			padding: 0 6px 0 6px;
			transition-duration: 0.1s;
			div {
				display: flex;
			}
			&:hover {
				svg {
					* {
						transition-duration: 0.1s;
						fill: #419CF8;
					}
				}
			}
		}

		.karma-builder-gizmo-text {
			border-right: 1px solid rgba(151, 151, 151, 0.3);
			color: #394959;
			font-family: HelveticaNeue_Medium;
			font-size: 12px;
			margin-right: 9px;
			padding: 0 10px 0 2px;
			transition: all 0.3s ease;
		}

		.karma-builder-gizmo-text:hover {
			color: #419CF8;
			transition: all 0.3s ease;
		}
		.karma-builder-gizmo-alignmentGizmo{
			position: relative;

		}

		.row-gizmo-group {
			@include box(auto, 35px);
			@include flexbox(center, center, center);
			@include element_direction($top: 17px, $right: 17px);
			background-color: $white-color;
			border-radius: 3px;
			box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
			direction: rtl;
			position: absolute;

			div {
				cursor: pointer;
			}

			.karma-builder-gizmo-icon {
				@include box(auto, 22px);
				border-left: 1px solid rgba(151, 151, 151, 0.3);
				padding: 0 10px 0 10px;

			}
			.karma-builder-gizmo-text {
				color: #394959;
				font-family: HelveticaNeue;
				font-size: 13px;
				padding: 0 15px 0 15px;
			}
		}

		div[ data-form = "more-panel" ]:not( .karma-more-setting ):not( .karma-more-submenu ){

			@include box( 0 );
			overflow: hidden;
			padding: 0;

		}


	}

	.karma-spacing-dot-container {

	@include box( 22px, 23px );
	cursor: n-resize;
	display: none;
	left: 48%;
	position: absolute;
	top: -12px;

	&:hover .spacing-dot-hover {
		@include box( 22px, 22px);
		transition: width 250ms cubic-bezier(0.23, 1, 0.32, 1), height 250ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.spacing-dot-hover {
		@include box( 0, 0 );
		background-color: rgba(51, 143, 252, 0.3);
		border-radius: 100%;
		transition: width 250ms cubic-bezier(0.23, 1, 0.32, 1), height 250ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.spacing-dot {
		@include box( 8px, 8px );
		@include center('both');
		background-color: $white-color;
		border: 1px solid $builder-accent-color;
		border-radius: 100%;
		box-sizing: border-box;
	    z-index:$level3;

		&:after{
			@include box( 22px, 22px );
			content: "";
			position: absolute;

		}

	}

  .spacing-top-hover{
	@include element_direction($top:0, $left:0);
	@include box(22px, 14px);
	display: block;
	margin-top: 10px;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{
		@include center('both');
		top:3px;
	}
  }

  .spacing-bottom-hover{
	@include element_direction($top:0, $left:0);
	@include box(22px, 11px);
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;



	.spacing-dot-hover{
		@include center('both');
		top:12px;
	}
  }

  .spacing-left-hover{
	@include element_direction($top:0, $left:0);
	@include box(14px, 24px);
	display: block;
	margin-left: 10px;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{
		@include center( 'vertical' );
		left: -10px;
	}
  }

  .spacing-right-hover{
	@include box(14px, 24px);
	@include element_direction($top:0, $left:-2px);
	display: block;
	margin-right: 10px;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{

		@include center( 'vertical' );
		right: -10px;

	}
  }

}

	.row-bottom-spacing-dot-container {
	align-items: center;
	bottom: -9px;
	cursor: n-resize;
	display: none;
	height: 18px;
	justify-content: center;
	left: 48%;
	position: absolute;
	width: 18px;

	&:hover .spacing-bottom-dot-hover {
		display: block;
	}

	.spacing-bottom-dot-hover {
		align-items: center;
		background-color: rgba(51, 143, 252, 0.3);
		border-radius: 100%;
		display: none;
		height: 18px;
		justify-content: center;
		width: 18px;

	}
	.spacing-bottom-dot {
		background-color: $white-color;
		border: 1px solid $builder-accent-color;
		border-radius: 100%;
		box-sizing: border-box;
		height: 8px;
		position: absolute;
		width: 8px;

	}
}

	.row-gizmo-group{
		display: none;
	}

	&.karma-active-section {

		.karma-row {
			box-shadow: 0 0 0 1px rgba(118, 129, 140, 0.18);

			> .karma-builder-element:last-child {
				.resize-handler {
					display: none;
				}

				.karma-right-spacing  .karma-spacing-dot-container{
					left: calc(100% - 9px) !important;
				}
			}

			.resize-handler {
				@include box( 12px, 100% );
				cursor: col-resize;
				position: absolute;
				right: -5px;
				top: 0;
				z-index: 92;
			}

			.resize-handler:before {
				@include center( 'horizontal' );
				@include box( 1px, 100% );
				background-color: rgba(118, 129, 140, 0.18);
				content: " ";
				cursor: col-resize;
				top: 0;
				transition: background-color .3s , width .2s;
			}

			.resize-handler:hover:before {
				background-color: rgba(51, 143, 252, 0.3);
				width: 4px;
			}

			.resize-dragging {

				.resize-handler:before {
					background-color: rgba(51, 143, 252, 0.3);
					width: 4px;
				}

			}

		}

	}

	&.karma-active-column {
		.karma-column-setting {
			background-color: #76818C;
			cursor: pointer;
			display: block;
			left: 0;
			line-height: 16px;
			padding: 0 4px 0 3px;
			position: absolute;
			top: -17px;
			z-index: $level3;

			.column-setting{
				align-items: center;
				display: flex;
			}

			.karama-gizmo-icon {
				svg {
					@include box(10.31px, 11.31px);
					* {
						fill: $white-color;
					}
				}
			}

			.karma-gizmo-title {
				color: $white-color;
				font-family: HelveticaNeue;
				font-size: 10px;
				padding-left: 2.69px;
				vertical-align: top;
			}
		}

	}

	.karma-right-spacing.ui-resizable-resizing {
		background-color: rgba(51, 143, 252, 0.1);
		border-left: 1px solid rgba(51, 143, 252, 0.3); ;
	}

	.karma-left-spacing.ui-resizable-resizing {
		background-color: rgba(51, 143, 252, 0.1);
		border-right: 1px solid rgba(51, 143, 252, 0.3); ;
	}

	.karma-right-spacing .spacing-dot{
		right:7px;
	}

	.karma-left-spacing .spacing-dot{
		left:11px;
	}
}

.karma-column-setting {
	display: none;
}

