.karma-active-section {

	outline: 1px solid #419CF8;
	.row-gizmo-group {
		display: flex;
	}
	.karma-spacing-dot-container {
		display: flex;
	}

}

.karma-builder-element[data-name="karma_section"] {

	&:not(.karma-active-section):hover {
		outline: 1px solid #419CF8;
	}

}

.karma-builder-element[data-name="karma_column"] .karma-spacing-dot-container {

	display: none;

}

.karma-builder-element[data-name="karma_column"].karma-active-column .karma-spacing-dot-container {
	
	display: flex;

}