.karma-builder-environment{

	.karma-active-section {

	  section{
		box-shadow: inset 0 0 0 1px $builder-accent-color;
	  }
	  .section-gizmo-group {
		display: flex;
	  }
	  div.karma-spacing-dot-container {
			display: inline-block;
		}
		.karma-new-section-icon{
			display: none !important;
		}

	}

	.karma-builder-element[data-name="karma_section"] {

		&.karma-show-border-section{
			section{
				outline: 1px solid $builder-accent-color;
			}
		}

		&:not(.karma-active-section):hover {
		  section{
			box-shadow: inset 0 0 0 1px $builder-accent-color-2;
		  }
		}
		&:hover .karma-new-section-icon{
			bottom:-16px;
			opacity:1;
			transition: opacity,transform 0.2s;
		}

	}
}

