/* _-_-_- modules/GIZMO -_-_-_ */
.karma-spacing {
	height: 5px;
	position: relative;

  	&.karma-top-spacing-height{
	  height:0;
	}

	&.karma-top-spacing {
		cursor: n-resize;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&.karma-left-spacing.ui-resizable-handle.ui-resizable-e {

		cursor: e-resize;
		height: 100%;
		left: 0 !important;
		position: absolute;
		top: 0;

		.karma-spacing-dot-container {
			cursor: e-resize;
			left: -9px !important;
			top: 50%;
		}
	}

	&.karma-right-spacing.ui-resizable-handle.ui-resizable-w {
		cursor: e-resize;
		height: 100%;
		left: initial !important;
		position: absolute;
		right: 0 !important;
		top: 0;

		.karma-spacing-dot-container {
			cursor: e-resize;
			left: calc(100% - 9px) !important;
			top: 50%;
		}
	}

	&.karma-bottom-spacing {
		bottom: 0px !important;
		cursor: n-resize;
		position: absolute;
		top: initial !important;
		width: 100%;

		.karma-spacing-dot-container {
			bottom: -9px !important;
			top: initial !important;
		}
	}
}

.karma-spacing .resize-handler {
	cursor: n-resize;
	height: 100%;
	position: absolute;
	width: 100%;
}

.tooltip-div {
	align-items: center;
	background-color: #76c1f3;
	border-radius: 100px;
	color: $white-color;
	display: none;
	display: flex;
	font-family: HelveticaNeue;
	font-size: 9px;
	height: 16px;
	justify-content: center;
	position: fixed;
	text-align: center;
	width: 39px;
}

.karma-builder-element {
	position: relative;
}

.karma-spacing-dot-container {

	@include box( 18px, 18px );
	align-items: center;
	cursor: n-resize;
	display: none;
	justify-content: center;
	left: 48%;
	position: absolute;
	top: -9px;

	&:hover .spacing-dot-hover {
		display: block;
	}

	.spacing-dot-hover {
		align-items: center;
		background-color: rgba(51, 143, 252, 0.3);
		border-radius: 100%;
		display: flex;
		display: none;
		height: 18px;
		justify-content: center;
		width: 18px;
	}

	.spacing-dot {
		background-color: $white-color;
		border: 1px solid #419CF8;
		border-radius: 100%;
		box-sizing: border-box;
		height: 8px;
		position: absolute;
		width: 8px;
	    z-index:$level1;

	}

  .spacing-top-hover{
	@include element_direction($top:3px, $left:0);
	@include box(20px, 10px);
	display: block;
	overflow: hidden;
	position: relative;

	.spacing-dot-hover{
	  @include element_direction($bottom:0, $left:0);
	  position: absolute;
	}
  }

  .spacing-bottom-hover{
	@include element_direction($top:-3px, $left:0);
	@include box(20px, 10px);
	display: block;
	overflow: hidden;
	position: relative;



	.spacing-dot-hover{
	  @include element_direction($top:0, $left:0);
	  position: absolute;
	}
  }

  .spacing-left-hover{
	@include element_direction($top:1px, $left:4px);
	@include box(10px, 20px);
	display: block;
	overflow: hidden;
	position: relative;



	.spacing-dot-hover{
	  @include element_direction($top:0, $right:0);
	  position: absolute;
	}
  }

  .spacing-right-hover{
	@include box(10px, 20px);
	@include element_direction($top:1px, $left:-4px);
	display: block;
	overflow: hidden;
	position: relative;



	.spacing-dot-hover{
	  @include element_direction($top:0, $left:0);
	  position: absolute;
	}
  }

}

.row-bottom-spacing-dot-container {
	align-items: center;
	bottom: -9px;
	cursor: n-resize;
	display: none;
	height: 18px;
	justify-content: center;
	left: 48%;
	position: absolute;
	width: 18px;

	&:hover .spacing-bottom-dot-hover {
		display: block;
	}

	.spacing-bottom-dot-hover {
		align-items: center;
		background-color: rgba(51, 143, 252, 0.3);
		border-radius: 100%;
		display: none;
		height: 18px;
		justify-content: center;
		width: 18px;

	}
	.spacing-bottom-dot {
		background-color: $white-color;
		border: 1px solid #419CF8;
		border-radius: 100%;
		box-sizing: border-box;
		height: 8px;
		position: absolute;
		width: 8px;

	}
}

.row-gizmo-group{
	display: none;
}

.karma-active-section {

	.karma-row {
		outline: 1px solid rgba(118, 129, 140, 0.18);

		> .karma-builder-element:last-child .resize-handler {
			display: none;
		}
		.resize-handler {
			cursor: col-resize;
			height: 100%;
			position: absolute;
			right: -5px;
			top: 0;
			width: 10px;
			z-index: $level4;
		}

		.resize-handler:before {
			background-color: rgba(118, 129, 140, 0.18);
			content: " ";
			cursor: col-resize;
			height: 100%;
			position: absolute;
			right: 4px;
			top: 0;
			width: 1px;
		}

	}

	.row-gizmo-group {
		@include box(auto, 35px);
		@include flexbox(center, center, center);
		@include element_direction($top: 17px, $right: 17px);
		background-color: $white-color;
		border-radius: 3px;
		box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
		direction: rtl;
		font-size: initial;
		position: absolute;
		z-index: $level2;

		div {
			cursor: pointer;
		}

		.karma-builder-gizmo-icon {
			@include padding(0, 12px, 0, 11px);
			@include box(auto, 22px);
			align-items: center;
			border-left: 1px solid rgba(151, 151, 151, 0.3);
			display: flex;
			transition-duration: 0.1s;
			div {
				display: flex;
			}
			&:hover {
				svg {
					* {
						transition-duration: 0.1s;
						fill: #419CF8;
					}
				}
			}
		}

		.karma-builder-gizmo-text {
			@include padding(0, 15px, 0, 15px);
			color: #394959;
			font-family: HelveticaNeue;
			font-size: 13px;
			transition: all 0.3s ease;
		}

		.karma-builder-gizmo-text:hover {
			color: #419CF8;
			transition: all 0.3s ease;
		}

		.row-gizmo-group {
			@include box(auto, 35px);
			@include flexbox(center, center, center);
			@include element_direction($top: 17px, $right: 17px);
			background-color: $white-color;
			border-radius: 3px;
			box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
			direction: rtl;
			position: absolute;

			div {
				cursor: pointer;
			}

			.karma-builder-gizmo-icon {
				@include padding(0, 10px, 0, 10px);
				@include box(auto, 22px);
				border-left: 1px solid rgba(151, 151, 151, 0.3);

			}
			.karma-builder-gizmo-text {
				@include padding(0, 15px, 0, 15px);
				color: #394959;
				font-family: HelveticaNeue;
				font-size: 13px;
			}
		}
	}

	.karma-active-column {
		.karma-column-setting {
			@include padding(0, 4px, 0, 3px);
			background-color: #76818C;
			cursor: pointer;
			display: block;
			left: 0;
			line-height: 16px;
			position: absolute;
			top: -17px;
			z-index: $level3;

			.karama-gizmo-icon {
				svg {
					@include box(10.31px, 11.31px);
					* {
						fill: $white-color;
					}
				}
			}

			.karma-gizmo-title {
				color: $white-color;
				font-family: HelveticaNeue;
				font-size: 10px;
				padding-left: 2.69px;
				vertical-align: top;
			}
		}
	}
}

.karma-column-setting {
	display: none;
}

