.karma-active-section {

	box-shadow: 0 0 0 1px #419CF8;
	.row-gizmo-group {
		display: flex;
	}
	div.karma-spacing-dot-container {
		display: inline-block;
	}

}

.karma-builder-element[data-name="karma_section"] {

	&:not(.karma-active-section):hover {
		box-shadow: 0 0 0 1px rgba(65, 156, 248, 0.51);
	}

}

