.karma-setting-panel-group-container {
	div:first-child {
		padding-top: 6px;
	}

	@include box(100%);
	display: flex;
	flex-direction: column;

	button.karma-setting-panel-group-button {
		@include flexbox($text-align: center, $align-item: center, $justify-content: space-between);
		@include box(100%);
		padding: 20px;
		background-color: #f7f8f9;
		border: none;
		color: $builder-gray-color;
		cursor: pointer;
		font-size: 15px;
		outline: none;
		transition: 0.4s;
		border-top: 1px solid rgba(57, 73, 89, 0.2);

		&.karma-group-border-radius {
			border-radius: 0 !important;
		}

		p {
			margin: 0;
		}

		.karma-group-button-shape {
			transform: rotate(0);
			transition-duration: .3s;

			&.karma-group-button-shape-rotate {
				transform: rotate(-180deg) ;
				transition-duration: .3s;
			}
		}
	}

	div.karma-group-panel {
		background-color: #f7f8f9;
		border-radius: 0 0 7px 7px;
		display: none;
		overflow: hidden;
		padding-bottom: 10px;
	}



	button.karma-setting-panel-group-button p {
		@extend .karma-builder-title-in-box;
		color: $builder-gray-color;
		text-transform: capitalize;
	}
}
