.karma-image-position-container{
	align-items: center;
	justify-content: center;
	position: relative;
	padding-bottom: 25px;

	.karma-all-controller-title{
		padding-left: 18px;
	}
	.karma-image-position-content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width:73px;
		margin: 0 auto;

		.hidden-input{
			display: none;
		}

		.karma-image-position-box {
			height: 22px;
			width: 22px;
			border-radius: 2px;
			background-color: rgba(103, 176, 249, 0.3);
			cursor: pointer;
			margin-bottom: 3px;
			display: flex;

			&:hover{
				background-color: rgba(103, 176, 249, 0.63);
			}

			&.karma-image-position-top-left-dot{
				justify-content: flex-start;
				align-items: flex-start;
				padding: 4px;
			}
			&.karma-image-position-top-right-dot{
				justify-content: flex-end;
				align-items: flex-start;
				padding: 4px;
			}
			&.karma-image-position-bottom-left-dot{
				justify-content: flex-start;
				align-items: flex-end;
				padding: 4px;
			}
			&.karma-image-position-bottom-right-dot{
				justify-content: flex-end;
				align-items: flex-end;
				padding: 4px;
			}
			&.karma-image-position-center-dot{
				justify-content: center;
				text-align: center;
				align-items:center;
			}

			.karma-image-position-dot{
				height: 5px;
				width: 5px;
				opacity: 0.76;
				border-radius: 19px;
				background-color: rgba(255, 255, 255, 0.79);;
			}
		}

	}


}
.karma-image-position-selected-item{
	background-color: #67B0F9 !important;
}