.karma-image-position-container{
	align-items: center;
	justify-content: center;
	padding-bottom: 25px;

	.karma-image-position-content{
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		flex-wrap: wrap;
		padding: 0 98px;

		.hidden-input{
			display: none;
		}

		.karma-image-position-box {
			height: 26px;
			width: 26px;
			border-radius: 2px;
			background-color: rgba(103, 176, 249, 0.3);
			cursor: pointer;
			margin-bottom: 3px;
			display: flex;

			&:hover{
				background-color: rgba(103, 176, 249, 0.63);
			}

			&.karma-image-position-top-left-dot{
				justify-content: flex-start;
				align-items: flex-start;
				padding: 4px;
			}
			&.karma-image-position-top-right-dot{
				justify-content: flex-end;
				align-items: flex-start;
				padding: 4px;
			}
			&.karma-image-position-bottom-left-dot{
				justify-content: flex-start;
				align-items: flex-end;
				padding: 4px;
			}
			&.karma-image-position-bottom-right-dot{
				justify-content: flex-end;
				align-items: flex-end;
				padding: 4px;
			}
			&.karma-image-position-center-dot{
				justify-content: center;
				text-align: center;
				align-items:center;
			}

			.karma-image-position-dot{
				height: 6px;
				width: 6px;
				opacity: 0.76;
				border-radius: 19px;
				background-color: #FFFFFF;
			}
		}

	}


}
.karma-image-position-selected-item{
	background-color: #67B0F9 !important;
}