/** customize color picker styles **/

.sp-container .sp-picker-container {
	border-left: none;
}

.sp-vertical-alpha .sp-hue {
	@include box(11px, 120px);
	border-radius: 23px;
	left: 152px;
}

.sp-fill {
	padding-top: 68% !important;
}

.sp-color {
	@include box(145px, 120px);
	border-radius: 5px;
}

.sp-val {
	@include box(146px, 120px);
	border-radius: 5px;
}

.sp-vertical-alpha .sp-alpha-handle {
	background: transparent;
	border: 1.5px solid #fff;
	border-radius: 100px;
	bottom: -4px;
	box-shadow: 0 1px 3px 1px rgba(43, 43, 43, 0.3);
	cursor: pointer;
	left: 50%;
	opacity: 1;
	position: absolute;
	top: -4px;
	width: 6px;
}

.sp-vertical-alpha .sp-alpha .sp-alpha-handle {
	bottom: auto;
	height: 3.5px;
	left: -3px !important;
	width: 14px;
}

.sp-vertical-alpha .sp-alpha {
	@include box(11px, 120px);
	border-radius: 23px;
	left: 168px !important;
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
}

.sp-alpha .sp-alpha-inner {
	border: none;
	border-radius: 23px;
}

.sp-val .sp-dragger {
	@include box(5px, 5px);
	background-color: transparent;
	border: 1.5px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px 1px rgba(43, 43, 43, 0.3);
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 0;

}

.sp-hue .sp-slider {
	@include box(15px, 3.5px);
	background: transparent;
	border: 1.5px solid #fff;
	border-radius: 100px;
	box-shadow: 0 1px 3px 1px rgba(43, 43, 43, 0.3);
	cursor: pointer;
	left: -4px;
	opacity: 1;
	position: absolute;
	right: -4px;
	top: 0;
}

.sp-container.sp-light {
	background-color: #FFF;
	border: none;
	border-radius: 5px;
	box-shadow: 0 7px 15px 3px rgba(57, 73, 89, 0.2);
	padding: 0;
}

.sp-top-inner .sp-color, .sp-top-inner .sp-hue, .sp-clear {
	border: none;
	border-radius: 5px;
}

/* Input */

.sp-initial-disabled .sp-input-container {
	width: 100%;
}

.sp-picker-container .sp-input {
	background: transparent;
	border: none;
	color: #394959;
	font-family: "HelveticaNeue";
	font-size: 14px !important;
	margin: 0;
	padding: 10px 4px;
	width: 100%;
}

.sp-picker-container .sp-input:focus {
	border: none;
	outline: none;
}

.sp-picker-container {
	@include box(197px, 170px);
	box-sizing: border-box !important;
}
