#karma-element-setting-panel-container{

	.karma-range-slider-container {
		@include flexbox($text-align: center, $align-item: center, $justify-content: center);
		flex-direction: column;
		padding: 0 20px;
		position: relative;

		.karma-range-slider-content {

			@include flexbox($align-item: center);
			padding: $top-space-orange-light 0 $top-space-orange;
			width: 100%;

		}

		.rangeslider--horizontal {
			@include box(68%, 3px);
			background: #cbe5fd;
			border-radius: 50px;
			box-shadow: none;

			.rangeslider__handle {
				@include box(14px, 14px);
				background-image: none;
				background-color: $builder-accent-color;
				border: 1px solid $builder-accent-color;
				box-shadow: 0 2px 4px 0 rgba( $builder-accent-color, 0.45 );
				top: -5px;
				touch-action: pan-y;
				-ms-touch-action: pan-y;

				&:after {
					background-image: none;
				}
			}

			.rangeslider__fill {
				background: rgba( $builder-accent-color, .7 );
				box-shadow: none;

			}
		}

		.karma-range-slider-number {
			@include box( 57px , 32px );
			display: inline-flex;
			justify-content: center;
			margin-left: 13px;
			border: 1px solid rgba( $builder-gray-color , .1 );
			border-radius: 40px;

			.karma-range-slider-input {

				&:focus {
					border-color: rgba( $builder-gray-color , .1 );
					outline: none;
				}
				@include flexbox($text-align: right);
				background: transparent;
				color: #000;
				font-size: 12px;
				height: 32px;
				padding: 0;
			}

			.karma-unit {
				@include padding(0, 7px, 2px, 0);
				align-items: center;
				display: flex;
				font-size: 14px;
				font-weight: 400;
				height: 32px;
				margin-bottom: 0;
			}
		}

		input::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}

		input::-webkit-outer-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}

		input[type=number] {
			-moz-appearance:textfield;
		}
	}

	.karma-slider-controller-title {
		@extend .karma-builder-title-3;
		padding-top: $top-space-red;
		color: $builder-gray-color;
		text-align: left;
		width: 100%;
	}

	.karma-range-slider-editable {
		display : inline-block;
		min-width : 20px;
		height : 32px;
		cursor : text;
	}

}
