#karma-element-setting-panel-container {
	.karma-switch-panel-container {

		@include flexbox($justify-content: center);
		background-color: #F7F8F9;
		border-radius: 0 0 7px 7px;
		border-top: 1px solid rgba(57, 73, 89, 0.2);

		#new-form-builder-panel {
			@include element_direction($top: 0, $left: 360px);
			@include box(100%, inherit);
			position: absolute;
		}

		.karma-switch-panel-button {
			@include flexbox($text-align: center, $align-item: center, $justify-content: space-around);
			background-color: #FFFFFF;
			border: 1px solid rgba(57, 73, 89, 0.2);
			border-radius: 100px;
			margin: $top-space-orange 0;
			padding: 10px 21px;
			text-transform: capitalize;

			p {
				color: #445362;
				font-size: 14px;
				line-height: 14px;
				margin: 0;
			}

			.karma-switch-panel-shape {
				@include box(9px, 9px);
				border-bottom: 2px solid rgba(57, 73, 89, 0.46);
				border-left: 2px solid rgba(57, 73, 89, 0.46);
				margin-right: 4px;
				transform: rotate(45deg);
				transition-duration: .3s;
			}
		}
	}
}
