
.karma-title-with-background-controller {

	background-color: rgba($builder-accent-color, 0.1);
	padding: $top-space-blue;
	width: 100%;

	div.karma-title-with-background-field {

		@extend .karma-builder-title-3;
		color: $builder-accent-color;
		font-family: "HelveticaNeue_Medium";

	}
}

.karma-title-controller {
	padding: $top-space-red 20px $top-space-orange ;
	position: relative;
	width: 100%;

	div.karma-title-field {
		@extend .karma-builder-title-in-box;
		color: $builder-gray-color;
	}
}