.karma-unsplash-controller {
  @include padding(0, 10px, 15px, 10px);
  @include flexbox(center, center, center);
  flex-direction: column;
  position: relative;

  .karma-unsplash-search {
    margin-bottom: 9px;

    input {
      background: transparent;
      border: 1px solid #E7E7E7;
      border-radius: 4px;
      font-family: "Helvetica Neue";
      font-size: 12px;
      line-height: 14px;
      padding: 13px;
      text-align: center;
      width: 243px;
      &::placeholder {
        color: #B3BAC1;
      }
    }
  }

  .karma-unspalsh-icon {
    border-left: 2px solid rgba(57, 73, 89, 0.5);
    border-bottom: 2px solid rgba(57, 73, 89, 0.5);
    cursor: pointer;
    height: 9px;
    position: relative;
    margin-top: 20px;
    top: -3px;
    transform: rotate(-45deg);
    transition-duration: .3s;
    width: 9px;
  }

  .karma-unsplash-images-result {
    @include flexbox(center, center, center);
    flex-wrap: wrap;
    height: 215px;
    overflow: auto;
    position: relative;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    .karma-unsplash-images-list {
      background-color: #aed7fd;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2px;
      cursor: pointer;
      margin: 3px;
      height: 66px;
      width: 77px;
      position: relative;
      &:after {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: .3s;
        width: 100%;
      }
      &:hover:after {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .karma-unspalsh-selected {
    &:after {
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url(../media/svg/tik.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .karma-unspalsh-media-library {
    @include flexbox($text-align: inherit, $align-item: center, $justify-content: center);
    margin-top: 21px;

    .karma-unsplash-media-library-svg {
      height: 26px;
      margin-right: 6px;
      width: 26px;
    }
    .karma-unsplash-media-library-link {
      color: #419CF8;
      font-size: 15px;
      line-height: 17px;
    }
  }
}

