.karma-upload-image-content{
	@include flexbox( $text-align:center, $align-item:center, $justify-content:center );
	background-color: #ECF5FE;;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 115px;
	position: relative;

	.karma-upload-image-button{
		@include flexbox( $text-align:center, $align-item:center, $justify-content:center );
		@extend .karma-builder-title-3;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 100px;
		color: $builder-gray-color;
		cursor: pointer;
		height: 36px;
		line-height: 16px;
		padding: 0 20px;
		text-transform: none;
		transition: background-color .2s;

		&:hover{
			background-color: #FFF;
		}
	}
	a{
		z-index: 99;

		&:hover {
			text-decoration: none;
		}
	}

}

.karma-upload-image-has-image:after{
	background-color: rgba(0, 0, 0, 0.2);
	content: "";
	height: 115px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
