.karma-upload-image-content{
	@include flexbox( $text-align:center, $align-item:center, $justify-content:center );
	background-color: $builder-accent-color-4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 115px;
	position: relative;

	.karma-upload-image-button{
	    @include oval-button();
		text-transform: none;
		transition: background-color .2s;

		&:hover{
			background-color: #FFF;
		}
	}
	a{
		z-index: $level-20;

		&:hover {
			text-decoration: none;
		}
	}

}

.karma-upload-image-has-image:after{
	background-color: rgba(0, 0, 0, 0.2);
	content: "";
	height: 115px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
