/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all helper imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
.flex, .karma-builder .karma-top-nav, #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg, #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .revert-svg,
#karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .close-svg, #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li .svg-extra {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center; }

/**
 * Media queries
 * @group helpers
 * @param {String} $size - kind of size such as: small
 * @param {string} $type - Max or Min for width
 * @param {Number} $pixels - when use custom use this pixels
 * @require $breakpoint-small , $breakpoint-med-small , $breakpoint-med
 * @output media query for responsive
 */
/**
 * Centering elements
 * @group helpers
 * @param {String} $position - kind of center alignment such as: vertical
 * @output top left and transform of element
 */
/**
 * External fonts
 * @group helpers
 * @param {String} $font-name - name of font
 * @param {string} $file-name - url of font sorce
 * @param {Number} $weight - weight of font
 * @param {string}  $style - style of font
 * @output read font and give it font-weight and font-style
 */
/**
 * Adding dimensions
 * @group helpers
 * @param {Number} $width - width of box(element) 
 * @param {Number}  $height - height of box
 * @output give width and height 
 */
/**
 * padding mixin
 * @group helpers
 * @param {Number} $top - set padding top
 * @param {Number} $right - set padding right
 * @param {Number} $bottom - set padding bottom
 * @param {Number} $left - set padding left
 * @output all side padding
 */
/**
 * margin mixin
 * @group helpers
 * @param {Number} $top - set margin top
 * @param {Number} $right - set margin right
 * @param {Number} $bottom - set margin bottom
 * @param {Number} $left - set margin left
 * @output all side margin
 */
/**
 * Element Direction mixin
 * @group helpers
 * @param {Number} $top - set Element Direction top
 * @param {Number} $right - set Element Direction right
 * @param {Number} $bottom - set Element Direction bottom
 * @param {Number} $left - set Element Direction left
 * @output all side margin
 */
/**
 * Centering a block
 * @group helpers
 * @output with display block and margin center element
 */
@font-face {
  font-family: HelveticaNeu_Bold;
  src: url(../font/Helvetica_Neu_Bold.ttf); }
@font-face {
  font-family: HelveticaNeue;
  src: url(../font/HelveticaNeue.ttf); }
@font-face {
  font-family: HelveticaNeue_BlackCond;
  src: url(../font/HelveticaNeue_BlackCond.ttf); }
@font-face {
  font-family: HelveticaNeue_Light;
  src: url(../font/HelveticaNeue_Light.ttf); }
@font-face {
  font-family: HelveticaNeue_Medium;
  src: url(../font/HelveticaNeue_Medium.ttf); }
@font-face {
  font-family: HelveticaNeue_Thin;
  src: url(../font/HelveticaNeue_Thin.ttf); }
@font-face {
  font-family: HelveticaNeueBd;
  src: url(../font/HelveticaNeueBd.ttf); }
@font-face {
  font-family: HelveticaNeueHv;
  src: url(../font/HelveticaNeueHv.ttf); }
@font-face {
  font-family: HelveticaNeueIt;
  src: url(../font/HelveticaNeueIt.ttf); }
@font-face {
  font-family: HelveticaNeueLt;
  src: url(../font/HelveticaNeueLt.ttf); }
@font-face {
  font-family: HelveticaNeueMed;
  src: url(../font/HelveticaNeueMed.ttf); }
/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* _-_-_- base/BASE -_-_-_ */
/* _-_-_- base/TYPOGRAPHY -_-_-_ */
/* _-_-_- layout/FOOTER -_-_-_ */
/* _-_-_- layout/FORMS -_-_-_ */
/* _-_-_- layout/GRID -_-_-_ */
/* _-_-_- layout/HEADER -_-_-_ */
.karma-builder .karma-top-nav {
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.32); }

/* _-_-_- layout/NAVIGATION -_-_-_ */
/* _-_-_- layout/SIDEBAR -_-_-_ */
iframe {
  height: 200vh;
  width: 100%; }

/*** Style of setting panel container ***/
#karma-element-setting-panel-container {
  display: flex;
  position: absolute;
  /*** Style of setting panel extra ***/ }
  #karma-element-setting-panel-container .karma-element-setting-panel {
    width: 285px;
    height: 407.55px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.13);
    margin: 17px; }
    #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header {
      width: 285px;
      height: 46px;
      background: linear-gradient(270deg, #8876FC 0%, #419CF8 100%);
      border-radius: 7px 7px 0 0;
      position: relative; }
      #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-title {
        color: #fff;
        font-size: 17px;
        letter-spacing: 0.8px;
        padding: 12.77px 0 0 20.43px;
        text-align: left; }
      #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg {
        top: 11.51px;
        right: 7px;
        bottom: auto;
        left: auto;
        cursor: pointer;
        position: absolute; }
        #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .revert-svg,
        #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .close-svg {
          width: 24.49px;
          height: 24.49px;
          top: 9.51px;
          right: 7px;
          bottom: auto;
          left: auto;
          background-color: rgba(255, 255, 255, 0.18);
          border-radius: 19px;
          margin-right: 5px; }
          #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .revert-svg svg,
          #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .close-svg svg {
            width: 12px;
            height: 12px; }
            #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .revert-svg svg *,
            #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header .karma-element-setting-panel-header-svg .close-svg svg * {
              stroke: #fff; }
  #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra {
    display: flex; }
    #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      margin-bottom: 30px; }
      #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul .svg-extra-add {
        background-color: #8578FC; }
        #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul .svg-extra-add .svg-extra svg * {
          stroke: #fff; }
        #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul .svg-extra-add:hover .svg-extra svg * {
          stroke: #fff; }
        #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul .svg-extra-add:hover span {
          color: #fff;
          transition-duration: 0.2s; }
      #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li {
        border-radius: 19px;
        background-color: #fff;
        box-shadow: 0 -2px 5px 2px rgba(57, 73, 89, 0.11);
        display: inline-flex;
        height: 33px;
        max-width: 33px;
        margin-bottom: 6px;
        padding: 6px;
        position: relative;
        transition: max-width .3s, background .3s; }
        #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li:hover {
          max-width: 150px; }
          #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li:hover .svg-extra svg * {
            stroke: #394959; }
          #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li:hover span {
            color: #394959;
            left: 33px;
            opacity: 1;
            transition-duration: 0.2s; }
        #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li span {
          font-size: 12px;
          font-family: HelveticaNeue;
          left: 33px;
          letter-spacing: 0.8px;
          opacity: 0;
          padding: 2px 13px 0 0;
          white-space: nowrap; }
        #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li .svg-extra {
          padding-top: 0;
          padding-right: 8px;
          padding-bottom: 0;
          padding-left: 5px; }
          #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li .svg-extra svg {
            width: 12px;
            height: 12px; }
            #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul li .svg-extra svg * {
              stroke: #394959; }

/* _-_-_- modules/BUTTONS -_-_-_ */
/* _-_-_- modules/DROPDOWN -_-_-_ */
/* _-_-_- modules/THUMBNAILS -_-_-_ */
.karma-text-input-controller input.karma-text-input-field {
  width: 245px;
  height: 36px;
  background: #fff;
  border: 1px solid rgba(57, 73, 89, 0.2);
  border-radius: 20px;
  color: rgba(57, 73, 89, 0.6);
  font-family: HelveticaNeue;
  line-height: 14px; }

.karma-text-controller div.karma-text-field {
  color: rgba(57, 73, 89, 0.8);
  font-family: HelveticaNeue_Medium;
  font-size: 15px;
  font-weight: normal;
  line-height: 17px; }

.karma-title-controller {
  align-items: center;
  background-color: rgba(65, 156, 248, 0.12);
  display: flex;
  height: 46.84px;
  padding-left: 20px;
  width: 100%; }
  .karma-title-controller div.karma-title-field {
    color: #419CF8;
    font-family: HelveticaNeue_Medium;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal; }

/* _-_-_- pages/HOME -_-_-_ */
/* _-_-_- pages/HOME -_-_-_ */

/*# sourceMappingURL=main.css.map */
