/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all helper imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
.flex, .karma-builder .karma-top-nav {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center; }

/**
 * Media queries
 * @group helpers
 * @param {String} $size - kind of size such as: small
 * @param {string} $type - Max or Min for width
 * @param {Number} $pixels - when use custom use this pixels
 * @require $breakpoint-small , $breakpoint-med-small , $breakpoint-med
 * @output media query for responsive
 */
/**
 * Centering elements
 * @group helpers
 * @param {String} $position - kind of center alignment such as: vertical
 * @output top left and transform of element
 */
/**
 * External fonts
 * @group helpers
 * @param {String} $font-name - name of font
 * @param {string} $file-name - url of font sorce
 * @param {Number} $weight - weight of font
 * @param {string}  $style - style of font
 * @output read font and give it font-weight and font-style
 */
/**
 * Adding dimensions
 * @group helpers
 * @param {Number} $width - width of box(element) 
 * @param {Number}  $height - height of box
 * @output give width and height 
 */
/**
 * padding mixin
 * @group helpers
 * @param {Number} $top - set padding top
 * @param {Number} $right - set padding right
 * @param {Number} $bottom - set padding bottom
 * @param {Number} $left - set padding left
 * @output all side padding
 */
/**
 * margin mixin
 * @group helpers
 * @param {Number} $top - set margin top
 * @param {Number} $right - set margin right
 * @param {Number} $bottom - set margin bottom
 * @param {Number} $left - set margin left
 * @output all side margin
 */
/**
 * Centering a block
 * @group helpers
 * @output with display block and margin center element
 */
@font-face {
  font-family: HelveticaNeu_Bold;
  src: url(../font/Helvetica_Neu_Bold.ttf); }
@font-face {
  font-family: HelveticaNeue;
  src: url(../font/HelveticaNeue.ttf); }
@font-face {
  font-family: HelveticaNeue_BlackCond;
  src: url(../font/HelveticaNeue_BlackCond.ttf); }
@font-face {
  font-family: HelveticaNeue_Light;
  src: url(../font/HelveticaNeue_Light.ttf); }
@font-face {
  font-family: HelveticaNeue_Medium;
  src: url(../font/HelveticaNeue_Medium.ttf); }
@font-face {
  font-family: HelveticaNeue_Thin;
  src: url(../font/HelveticaNeue_Thin.ttf); }
@font-face {
  font-family: HelveticaNeueBd;
  src: url(../font/HelveticaNeueBd.ttf); }
@font-face {
  font-family: HelveticaNeueHv;
  src: url(../font/HelveticaNeueHv.ttf); }
@font-face {
  font-family: HelveticaNeueIt;
  src: url(../font/HelveticaNeueIt.ttf); }
@font-face {
  font-family: HelveticaNeueLt;
  src: url(../font/HelveticaNeueLt.ttf); }
@font-face {
  font-family: HelveticaNeueMed;
  src: url(../font/HelveticaNeueMed.ttf); }
/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* _-_-_- base/BASE -_-_-_ */
/* _-_-_- base/TYPOGRAPHY -_-_-_ */
/* _-_-_- layout/FOOTER -_-_-_ */
/* _-_-_- layout/FORMS -_-_-_ */
/* _-_-_- layout/GRID -_-_-_ */
/* _-_-_- layout/HEADER -_-_-_ */
.karma-builder .karma-top-nav {
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.32); }

/* _-_-_- layout/NAVIGATION -_-_-_ */
/* _-_-_- layout/SIDEBAR -_-_-_ */
/* _-_-_- layout/FOOTER -_-_-_ */
iframe {
  width: 100%;
  height: 200vh; }

#karma-element-setting-panel-container {
  position: absolute;
  background-color: antiquewhite;
  display: flex; }
  #karma-element-setting-panel-container .karma-element-setting-panel {
    height: 407.55px;
    width: 285px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.13);
    margin: 30px; }
    #karma-element-setting-panel-container .karma-element-setting-panel .karma-element-setting-panel-header {
      height: 46px;
      width: 285px;
      background: linear-gradient(270deg, #8876FC 0%, #419CF8 100%);
      border-radius: 7px 7px 0 0; }
  #karma-element-setting-panel-container .karma-shortcode-setting-panel-extra ul {
    list-style: none; }

/* _-_-_- modules/BUTTONS -_-_-_ */
/* _-_-_- modules/DROPDOWN -_-_-_ */
/* _-_-_- modules/THUMBNAILS -_-_-_ */
.karma-text-input-controller input.karma-text-input-field {
  width: 245px;
  height: 36px;
  color: rgba(57, 73, 89, 0.6);
  background: #fff;
  border: 1px solid rgba(57, 73, 89, 0.2);
  border-radius: 20px;
  font-family: HelveticaNeue;
  line-height: 14px; }

.karma-label-controller label.karma-label-field {
  color: rgba(57, 73, 89, 0.8);
  font-family: HelveticaNeue_Medium;
  font-size: 15px;
  font-weight: normal;
  line-height: 17px; }

/* _-_-_- pages/HOME -_-_-_ */
/* _-_-_- pages/HOME -_-_-_ */

/*# sourceMappingURL=main.css.map */
