/* _-_-_- base/BASE -_-_-_ */
body{
  font-family: "HelveticaNeue";
  .karma-full-seprator{
    @include box(100%, 1px);
    @include margin(0, 0 , 0, 0);
    @include element_direction($bottom:0 , $left:0);
    color: $setting-panel-seprator-color;
    position: absolute;
  }

  .karma-container-seprator{
    @include margin(0, 20px , 0, 0);
    @include box( calc(100% - 40px) , 1px);
    @include element_direction($bottom:0 , $left:20px);
    color: $setting-panel-seprator-color;
    position: absolute;
  }

}

