/* _-_-_- modules/GIZMO -_-_-_ */
.section-spacing {
  position: relative;
  width: 100%;
  height: 5px;
}

.section-spacing .resize-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: n-resize;
}

.tooltip-div {
  position: fixed;
  display: none;
  height: 16px;
  width: 39px;
  border-radius: 100px;
  background-color: #76c1f3;
  color: #FFFFFF;
  font-family: HelveticaNeue;
  font-size: 9px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-gizmo-group {
  @include box(auto, 35px);
  @include flexbox(center, center, center);
  @include element_direction($top: 17px, $right: 17px);
  border-radius: 3px;
  background-color: $white-color;
  box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
  display: none;
  direction: rtl;
  position: absolute;

  div {
    cursor: pointer;
  }

  .karma-builder-gizmo-icon {
    @include padding(0, 10px, 0, 10px);
    @include box(auto, 22px);
    border-left: 1px solid rgba(151, 151, 151, 0.3);

  }
  .karma-builder-gizmo-text {
    @include padding(0, 15px, 0, 15px);
    color: #394959;
    font-size: 13px;
    font-family: HelveticaNeue;
  }

  .row-gizmo-group {
    @include box(auto, 35px);
    @include flexbox(center, center, center);
    @include element_direction($top: 17px, $right: 17px);
    border-radius: 3px;
    background-color: $white-color;
    box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
    direction: rtl;
    position: absolute;

    div {
      cursor: pointer;
    }

    .karma-builder-gizmo-icon {
      @include padding(0, 10px, 0, 10px);
      @include box(auto, 22px);
      border-left: 1px solid rgba(151, 151, 151, 0.3);


    }
    .karma-builder-gizmo-text {
      @include padding(0, 15px, 0, 15px);
      color: #394959;
      font-size: 13px;
      font-family: HelveticaNeue;
    }
  }
}
.karma-builder-element{
  position: relative;
}
.row-top-spacing-dot-container{
  cursor: n-resize;

  position: absolute;
  top: -9px;
  left: 48%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;

  &:hover .spacing-top-dot-hover{
    display: block;
  }

  .spacing-top-dot-hover{
    height: 18px;
    display: flex;
    width: 18px;
    border-radius: 100%;
    background-color: rgba(51, 143, 252, 0.3);
    justify-content: center;
    align-items: center;
    display: none;

  }

  .spacing-top-dot{
    position: absolute;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border: 1px solid #419CF8;
    border-radius: 100%;
    background-color: #FFFFFF;

  }
}

.row-bottom-spacing-dot-container{
  cursor: n-resize;
  position: absolute;
  bottom: -9px;
  left: 48%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;

  &:hover .spacing-bottom-dot-hover{
    display: block;
  }

  .spacing-bottom-dot-hover{
    height: 18px;
    display: none;
    width: 18px;
    border-radius: 100%;
    background-color: rgba(51, 143, 252, 0.3);
    justify-content: center;
    align-items: center;

  }
  .spacing-bottom-dot{
    position: absolute;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border: 1px solid #419CF8;
    border-radius: 100%;
    background-color: #FFFFFF;

  }
}


