/* _-_-_- modules/GIZMO -_-_-_ */
.karma-spacing {
  position: relative;
  height: 5px;

  &.karma-top-spacing {
	width: 100%;
	cursor: n-resize;
	position: absolute;
	top: 0;
  }
  &.karma-left-spacing.ui-resizable-handle.ui-resizable-e {

	position: absolute;
	top: 0;
	height: 100%;
	left: 0 !important;
	cursor: e-resize;


	.karma-spacing-dot-container {
	  cursor: e-resize;
	  left: -9px !important;
	  top: 50%;
	}
  }

  &.karma-right-spacing.ui-resizable-handle.ui-resizable-w {
	position: absolute;
	top: 0;
	height: 100%;
	right: 0 !important;
	left: initial !important;
	cursor: e-resize;

	.karma-spacing-dot-container {
	  left: calc(100% - 9px ) !important;
	  top: 50%;
	  cursor: e-resize;
	}
  }

  &.karma-bottom-spacing {
	width: 100%;
	position: absolute;
	top: initial !important;
	bottom: 0px !important;
	cursor: n-resize;

	.karma-spacing-dot-container {
	  top: initial !important;
	  bottom: -9px !important;
	}
  }
}

.karma-spacing .resize-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: n-resize;
}

.tooltip-div {
  position: fixed;
  display: none;
  height: 16px;
  width: 39px;
  border-radius: 100px;
  background-color: #76c1f3;
  color: $white-color;
  font-family: HelveticaNeue;
  font-size: 9px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-gizmo-group {
  @include box(auto, 35px);
  @include flexbox(center, center, center);
  @include element_direction($top: 17px, $right: 17px);
  border-radius: 3px;
  background-color: $white-color;
  box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
  font-size: initial;
  display: none;
  direction: rtl;
  position: absolute;
  z-index: $level2;

  div {
    cursor: pointer;
  }

  .karma-builder-gizmo-icon {
    @include padding(0, 12px, 0, 11px);
    @include box(auto, 22px);
    align-items: center;
    border-left: 1px solid rgba(151, 151, 151, 0.3);
    display: flex;
    transition-duration: 0.1s;
    div{
      display: flex;
    }
    &:hover{
        svg {
          * {
           fill: #419CF8;
            transition-duration: 0.1s;
          }
      }
    }
  }

  .karma-builder-gizmo-text {
    @include padding(0, 15px, 0, 15px);
    color: #394959;
    font-size: 13px;
    font-family: HelveticaNeue;
    transition:all 0.3s ease;
  }

  .karma-builder-gizmo-text:hover {
	color: #419CF8;
	transition: all 0.3s ease;
  }

  .row-gizmo-group {
    @include box(auto, 35px);
    @include flexbox(center, center, center);
    @include element_direction($top: 17px, $right: 17px);
    border-radius: 3px;
    background-color: $white-color;
    box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
    direction: rtl;
    position: absolute;

    div {
      cursor: pointer;
    }

    .karma-builder-gizmo-icon {
      @include padding(0, 10px, 0, 10px);
      @include box(auto, 22px);
      border-left: 1px solid rgba(151, 151, 151, 0.3);


    }
    .karma-builder-gizmo-text {
      @include padding(0, 15px, 0, 15px);
      color: #394959;
      font-size: 13px;
      font-family: HelveticaNeue;
    }
  }
}
.karma-builder-element{
  position: relative;
}
.karma-spacing-dot-container{
  cursor: n-resize;

  position: absolute;
  top: -9px;
  left: 48%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;

  &:hover .spacing-dot-hover{
    display: block;
  }

  .spacing-dot-hover{
    height: 18px;
    display: flex;
    width: 18px;
    border-radius: 100%;
    background-color: rgba(51, 143, 252, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
  }

  .spacing-dot{
    position: absolute;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border: 1px solid #419CF8;
    border-radius: 100%;
    background-color: $white-color;

  }
}

.row-bottom-spacing-dot-container{
  cursor: n-resize;
  position: absolute;
  bottom: -9px;
  left: 48%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;

  &:hover .spacing-bottom-dot-hover{
    display: block;
  }

  .spacing-bottom-dot-hover{
    height: 18px;
    display: none;
    width: 18px;
    border-radius: 100%;
    background-color: rgba(51, 143, 252, 0.3);
    justify-content: center;
    align-items: center;

  }
  .spacing-bottom-dot{
    position: absolute;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border: 1px solid #419CF8;
    border-radius: 100%;
    background-color: $white-color;

  }
}

.karma-active-section {

  .karma-container {
	outline: 1px solid rgba(118, 129, 140, 0.18);

	> .karma-builder-element:last-child .karma-column-resize {
	  display: none;
	}

	.karma-column-resize {
	  background-color: rgba(118, 129, 140, 0.18);
	  height: 100%;
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: 1px;
	}
  }
  .karma-container-fluid {
	outline: 1px solid rgba(118, 129, 140, 0.18);

	> .karma-builder-element:last-child .karma-column-resize {
	  display: none;
	}

	.karma-column-resize {
	  background-color: rgba(118, 129, 140, 0.18);
	  height: 100%;
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: 1px;
	}
  }
  .karma-active-column {
	.karma-column-setting {
	  @include padding(0, 4px, 0, 3px);
	  background-color: #76818C;
	  position: absolute;
	  left: 0;
	  line-height: 16px;
	  top: -17px;
	  cursor: pointer;
	  display: block;
	  z-index: $level3;

	  .karama-gizmo-icon {
		svg {
		  @include box(10.31px, 11.31px);
		  * {
			fill: $white-color;
		  }
		}
	  }

	  .karma-gizmo-title {
		color: $white-color;
		font-size: 10px;
		font-family: HelveticaNeue;
		padding-left: 2.69px;
		vertical-align: top;
	  }
	}
  }
}

.karma-column-setting {
  display: none;
}

