.karma-active-section{

	border: 1px solid #419CF8;
	.row-gizmo-group {
		display: flex;
	}
  .row-top-spacing-dot-container{
	display: flex;
  }
  .row-bottom-spacing-dot-container{
	display: flex;
  }

}

.karma-builder-element[data-name="karma_section"] {

	&:not(.karma-active-section):hover{
		border: 1px solid #419CF8;
	}

}