.karma-active-section{

	border: 1px solid #419CF8;
	.row-gizmo-group {
		display: flex;
	}

}

.karma-builder-element[data-name="karma_row"] {

	&:not(.karma-active-section):hover{
		border: 1px solid #419CF8;
	}

}