.karma-text-input-controller{
  @include flexbox( $justify-content:center);
  @include padding(15px, 20px, 15px, 20px);


  input.karma-text-input-field{
    @include box(245px, 36px);
    @include padding(11px, 14px, 11px, 14px);
    background: #fff;
    border: 1px solid rgba(57,73,89,0.2);
    border-radius: 20px;
    color: #394959;
    font-family: HelveticaNeue;
    font-size: 12px;
  }

  input::placeholder{
    color: rgba(57,73,89,0.6);
    font-family: HelveticaNeue;
    font-size: 12px;
  }
}