.karma-title2-controller{
  @include padding(0, 20px, 15px, 20px);
  @include box(100%);
  position: relative;

  div.karma-title2-field{
	@extend .HelveticaNeue-font;
	color: #394959;
	font-size: 15px;
  }
}