.grid-controller-template{
  height: 168px;	width: 285px;	background-color: rgba(65,156,248,0.12);
	.karma-add-column-view-border{
	  height: 59.29px;	width: 90.35px;	border: 1px solid #419CF8;	border-radius: 4px;	background-color: rgba(255,255,255,0.54);

	  .karma-add-column-view-length{
		height: 3.96%;		border-radius: 3px;	background-color: rgba(65,156,248,0.3);
	  }
	  .karma-add-column-view-add{
		height: 37.64px;		border: 1px solid #419CF8;	border-radius: 3px;
	  }
	}
}