//public classes
.center-both-flex{
	align-items: center;
	display: flex;
	justify-content: center;
}

.space-between {

	display: flex;
	justify-content: space-between;

}

.space-around {

	display: flex;
	justify-content: space-around;

}

.HelveticaNeue-font {
	font-family: HelveticaNeue;
}
