//Variables
/** Builder Colors **/
$builder-accent-color: #419CF8;
$builder-accent-color-1: #7AB9FA;
$builder-accent-color-2: #A0CDFB;
$builder-accent-color-3: #D9EBFE;
$builder-accent-color-4: #ECF5FE;

$builder-main-color: #394959;
$builder-main-color-1: #747F8A;
$builder-main-color-2: #9CA4AC;
$builder-main-color-3: #D7DBDE;
$builder-main-color-4: #EBECEE;
$builder-main-color-5: #F7F8F9;

$builder-premium-color: #F58F23;
$builder-premium-color-1: #FEEEDE;


/* Builder Major Levels */
$level1: 100;
$level2: 90;
$level3: 80;
$level4: 70;
$level5: 110;

/* spaces */
$top-space-red: 22px;
$top-space-blue: 20px;
$top-space-orange: 18px;
$top-space-orange-light: 11px;



