//Variables
/** Builder Colors **/
$extra-icon-secondary-color: #394959;
$builder-accent-color: #419cf8;
$builder-gray-color: #394959;
$builder-upgrade-color: #f58f23;
$builder-notice-color: #194be6;
$builder-simple-text-color: #445363;
$setting-panel-separator-color: rgba($builder-gray-color, 0.2);
$builder-placeholder-color : rgba( 65, 156, 248, 0.1 );

/* Builder Major Levels */
$level1: 100;
$level2: 90;
$level3: 80;
$level4: 70;
$level5: 110;

/* spaces */
$top-space-red: 22px;
$top-space-blue: 20px;
$top-space-orange: 18px;
$top-space-orange-light: 11px;



