//Variables
/** builder Font  **/
$builder-light-font	: "HelveticaNeue_light";
$builder-normal-font: "HelveticaNeue";
$builder-medium-font: "HelveticaNeue_med";
$builder-bold-font	: "HelveticaNeue_bold";

/** Builder Colors **/
$builder-accent-color: #419CF8;
$builder-accent-color-1: #7AB9FA;
$builder-accent-color-2: #A0CDFB;
$builder-accent-color-3: #D9EBFE;
$builder-accent-color-4: #ECF5FE;

$builder-main-color: #394959;
$builder-main-color-1: #747F8A;
$builder-main-color-2: #9CA4AC;
$builder-main-color-3: #D7DBDE;
$builder-main-color-4: #EBECEE;
$builder-main-color-5: #F7F8F9;

$builder-premium-color: #F58F23;
$builder-premium-color-1: #FEEEDE;
$builder-responsive-color : #7B59FF;


/* Builder Major Levels */
$level-minus-5:-70;
$level-0:0;
$level-5: 70;
$level-10: 80;
$level-15: 90;
$level-20: 100;
$level-25: 110;
$level-30: 120;

/* spaces */
$builder-red-space: 22px;
$builder-blue-space: 20px;
$builder-orange-space: 18px;
$builder-light-orange-space: 11px;



