/* _-_-_- base/BASE -_-_-_ */
body {
	margin: 0;
	iframe {
		height: calc( 100vh - 49px );
		width: 100%;
		border:none;
	}

	font-family: "HelveticaNeue";
	.karma-full-separator {
		@include box( 100%, 1px );
		@include margin( 25px, 0, 15px, 0 );
		@include element_direction( $bottom: 0, $left: 0 );
		color: $setting-panel-separator-color;
	}

	.karma-container-separator {
		@include margin( 25px, 20px, 0, 0 );
		@include box( calc( 100% - 40px ), 1px );
		@include element_direction( $bottom: 0, $left: 20px );
		color: $setting-panel-separator-color;
		position: absolute;
	}

	ul, ol {
		margin: 0 0 1.75em 0;
	}

	.controller-seprator{
		margin-bottom: 25px;
	}
}

