/* _-_-_- base/BASE -_-_-_ */
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	will-change : contents;


	button{
		margin: 0;
		padding: 0;
		line-height: .8em;
	}
	
	iframe {
		height: calc( 100vh - 49px );
		width: 100%;
		border:none;
		transition: .4s;
		will-change : contents;
	}

	font-family: $builder-normal-font;
	.karma-full-separator {
		@include box( 100%, 1px );
		@include element_direction( $bottom: 0, $left: 0 );
		color: $builder-main-color-3;
		position: absolute;
		margin : 20px 0 0;
	}

	.karma-container-separator {
		@include box( calc( 100% - 40px ), 1px );
		@include element_direction( $bottom: 0, $left: 20px );
		color: $builder-main-color-3;
		margin: 0;
		position: absolute;
	}

}

.karma-builder-element{

	&.karma-element-alignment-left{

		display: flex;
		justify-content: flex-start;
	}
	&.karma-element-alignment-center{

		display: flex;
		justify-content: center;
	}
	&.karma-element-alignment-right{

		display: flex;
		justify-content: flex-end;
	}
}

.ui-draggable-dragging {
	pointer-events: none !important;
}



