/* _-_-_- base/RESET -_-_-_ */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background-color: transparent;
}

a {
	&:hover{
		outline: none;
	}
	&:active{
		outline: none;
	}
	&:focus{
		outline: none;
	}
}



#karma-element-setting-panel-container{
	*{
		font-weight: 400;
		@extend .HelveticaNeue-font;
	}

	button,
	input[ type = "text" ],
	input[ type = "number" ] {
		border: none;
		box-shadow : none;
		outline: none;
		text-transform: none;

		&:focus,
		&:active{

			box-shadow : none;
			outline: none;

		}
	}

}

