/* _-_-_- base/RESET -_-_-_ */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	&:hover{
		outline: none;
	}
	&:active{
		outline: none;
	}
	&:focus{
		outline: none;
	}
}

button,
input[ type = "text" ] {
	@extend .HelveticaNeue-font;
	font-weight: 400;
}

