//Variables
$white-color: #fff;
$black-color: #000;
$extra-icon-color:#fff;
$extra-icon-secondary-color:#394959;
$level1: 100;
$level2: 90;
$level3: 80;
$level4: 70;
$setting-panel-seprator-color:rgba( 57,73,89,0.2 );

