//font import
@font-face {
  font-family: HelveticaNeu_Bold;
  src: url(../font/Helvetica_Neu_Bold.ttf);
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../font/HelveticaNeue.ttf);
}
@font-face {
  font-family: HelveticaNeue_BlackCond;
  src: url(../font/HelveticaNeue_BlackCond.ttf);
}

@font-face {
  font-family: HelveticaNeue_Light;
  src: url(../font/HelveticaNeue_Light.ttf);
}

@font-face {
  font-family: HelveticaNeue_Medium;
  src: url(../font/HelveticaNeue_Medium.ttf);
}

@font-face {
  font-family: HelveticaNeue_Thin;
  src: url(../font/HelveticaNeue_Thin.ttf);
}

@font-face {
  font-family: HelveticaNeueBd;
  src: url(../font/HelveticaNeueBd.ttf);
}

@font-face {
  font-family: HelveticaNeueHv;
  src: url(../font/HelveticaNeueHv.ttf);
}

@font-face {
  font-family: HelveticaNeueIt;
  src: url(../font/HelveticaNeueIt.ttf);
}

@font-face {
  font-family: HelveticaNeueLt;
  src: url(../font/HelveticaNeueLt.ttf);
}

@font-face {
  font-family: HelveticaNeueMed;
  src: url(../font/HelveticaNeueMed.ttf);
}

