
.karma-title-controller {
	@include padding(12px, 15px, 10px, 20px);
	@include box(100%);
	background-color: rgba(65, 156, 248, 0.12);
	margin-bottom: 25px;

	div.karma-title-field {
		@extend .HelveticaNeue-font;
		color: #419CF8;
		font-size: 15px;

	}
}

.karma-title2-controller {
	@include padding(0, 20px, 25px, 20px);
	@include box(100%);
	position: relative;

	div.karma-title2-field {
		@extend .HelveticaNeue-font;
		color: #394959;
		font-size: 15px;
	}
}