.karma-element-placeholder {
  @include box( 100%, 0 );
  align-items: center;
  display: flex;
  justify-content: center;
  transition: height 150ms cubic-bezier( 0.47, 0, 0.745, 0.715 );
  &.karma-column-placeholder {
	padding: 20px;
	transition: none;
	&.karma-show-placeholder {
	  height: 130px;
	}
  }
  &.karma-show-placeholder {
	height:8px;
  }
  .karma-inner-placeholder {
	@include box( 100%, 100% );
	background-color: $builder-placeholder-color;
	border-radius: 2px;
  }
}