.karma-element-placeholder{
	@include box( 100%, 8px );
	align-items: center;
	display: none;
	justify-content: center;
	&.karma-column-placeholder{
		height: 130px;
		padding: 20px;
	}
	&.karma-show-placeholder{
		display: flex;
	}
	.karma-inner-placeholder{
		@include box( 100%, 100% );
		background-color: rgba( 65, 156, 248, 0.1 );
		border-radius: 2px;
	}
}