.karma-element-placeholder {
  @include box( 100%, 0 );
  align-items: center;
  display: flex;
  justify-content: center;
  transition: height 150ms cubic-bezier( 0.47, 0, 0.745, 0.715 );
  &.karma-column-placeholder {
	padding: 20px;
	transition: none;
	&.karma-show-placeholder {
	  height: 130px;
	}
  }
  &.karma-show-placeholder {
	height:8px;
  }
  .karma-inner-placeholder {
	@include box( 100%, 100% );
	background-color: rgba( 65, 156, 248, 0.1 );
	border-radius: 2px;
  }
}

/* Tooltip styles for karma*/
.ui-tooltip, .arrow:after {
	background: $builder-main-color;
}
.ui-tooltip {
	@include box( 70px, 30px );
	align-items: center;
	border-radius: 3px;
	color: #fff;
	display: flex;
	font-size: 12px;
	justify-content: center;
	padding: 10px;
	position: absolute;
	z-index: $level5;
}
.arrow {
	@include box( 70px, 16px );
	bottom: -16px;
	left: 50%;
	margin-left: -35px;
	overflow: hidden;
	position: absolute;
}
.arrow.top {
	bottom: auto;
	top: -16px;
}
.arrow.left {
	left: 55%;
}
.arrow:after {
	@include box( 20px, 20px );
	@include element_direction($top:-20px, $left:20px);
	box-shadow: 6px 5px 9px -9px $builder-main-color;
	content: "";
	position: absolute;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}