/* _-_-_- modules/GIZMO -_-_-_ */
.section-spacing {
  position: relative;
  width: 100%;
  //background: rgba(60, 162, 228, 0.49);
  height: 5px;
}

.section-spacing .resize-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: n-resize;
}

.tooltip-div {
  position: fixed;
  display: none;
  height: 16px;
  width: 39px;
  border-radius: 100px;
  background-color: #76c1f3;
  color: #FFFFFF;
  font-family: HelveticaNeue;
  font-size: 9px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-gizmo-group {
  @include box(auto, 35px);
  @include flexbox(center, center, center);
  @include element_direction($top: 17px, $right: 17px);
  border-radius: 3px;
  background-color: $white-color;
  box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
  display: none;
  direction: rtl;
  position: absolute;

  div {
    cursor: pointer;
  }

  .karma-builder-gizmo-icon {
    @include padding(0, 10px, 0, 10px);
    @include box(auto, 22px);
    border-left: 1px solid rgba(151, 151, 151, 0.3);

  }
  .karma-builder-gizmo-text {
    @include padding(0, 15px, 0, 15px);
    color: #394959;
    font-size: 13px;
    font-family: HelveticaNeue;
  }

  .row-gizmo-group {
    @include box(auto, 35px);
    @include flexbox(center, center, center);
    @include element_direction($top: 17px, $right: 17px);
    border-radius: 3px;
    background-color: $white-color;
    box-shadow: 0 2px 4px 3px rgba(57, 73, 89, 0.16);
    direction: rtl;
    position: absolute;

    div {
      cursor: pointer;
    }

    .karma-builder-gizmo-icon {
      @include padding(0, 10px, 0, 10px);
      @include box(auto, 22px);
      border-left: 1px solid rgba(151, 151, 151, 0.3);

    }
    .karma-builder-gizmo-text {
      @include padding(0, 15px, 0, 15px);
      color: #394959;
      font-size: 13px;
      font-family: HelveticaNeue;
    }
  }
}