.karma-setting-panel-group-container{
  div:first-child{
	padding-top: 6px;
  }
  display: flex;
  flex-direction: column;
  width: 100%;

  button.karma-setting-panel-group-button {
	align-items: center;
	background-color: #f7f8f9;
	border: none;
	color: #394959;
	cursor: pointer;
	display: flex;
	font-family: HelveticaNeue;
	font-size: 15px;
	justify-content: space-between;
	outline: none;
	padding: 15px 20px 15px 20px;
	text-align: left;
	transition: 0.4s;
	width: 100%;
	p{
	  margin: 0;
	}

	.karma-group-button-shape{
	  border-left: 2px solid #394959;
	  border-bottom: 2px solid #394959;
	  height: 9px;
	  position: relative;
	  top: -3px;
	  transform: rotate(-45deg);
	  transition-duration: .3s;
	  width: 9px;
	}
  }

  div.karma-group-panel {
	background-color: #f7f8f9;
	border-radius: 0 0 7px 7px;
	display: none;
	overflow: hidden;
	padding-bottom: 10px;
  }

  .karma-group-button-shape-rotate{
	transform: rotate(-225deg) !important;
	transition-duration: .3s;
  }

  button.karma-setting-panel-group-button p {
	color: #394959;
	font-size: 15px;
	font-weight: normal;
	text-transform: capitalize;
  }
}
