.karma-setting-panel-group-container{
  display: flex;
  flex-direction: column;
  width: 100%;

  button.karma-setting-panel-group-button {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px 20px 18px 20px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: HelveticaNeue;
	font-size: 15px;
	p{
	  margin: 0;
	}

	.karma-group-button-shape{
	  height: 9px;
	  width: 9px;
	  border-left: 2px solid #394959;
	  border-bottom: 2px solid #394959;
	  position: relative;
	  top: -3px;
	  transform: rotate(-45deg);
	  transition-duration: .3s;
	}
  }
  div.karma-group-panel {

	background-color: #eee;
	border-radius: 0 0 7px 7px;
	display: none;
	margin-top: -3px;
	padding: 8px 0;
	overflow: hidden;
  }
  .karma-group-button-shape-rotate{
	transform: rotate(-225deg) !important;
	transition-duration: .3s;
  }

  button.karma-setting-panel-group-button p {
	color: #394959;
	font-size: 15px;
	font-weight: normal;
	text-transform: capitalize;
  }


}