.karma-text-input-controller{
  display: flex;
  justify-content: center;
  padding: 11.5px 21px 15px 21px;

  input.karma-text-input-field{
    @include box(245px, 36px);
    background: #fff;
    border: 1px solid rgba(57,73,89,0.2);
    border-radius: 20px;
    color: rgba(57,73,89,0.6);
    font-family: HelveticaNeue;
   font-size: 12px;
    padding: 11px 14px 11px 14px;
  }

  input::placeholder{
    color: rgba(57,73,89,0.6);
  }

}