.karma-title2-controller{
  align-items: center;
  display: flex;
  height: 40px;
  padding-left: 20px;
  width: 100%;

  div.karma-title2-field{
	color: #394959;
	font-family: HelveticaNeue;
	font-size: 15px;
  }
}