
.karma-title-controller{
  background-color: rgba(65, 156, 248, 0.12);
  padding: 15px 15px 15px 20px;
  width: 100%;

  div.karma-title-field{
	color: #419CF8;
	font-family: HelveticaNeue;
	font-size: 15px;
  }
}