.karma-title2-controller{
  @include padding(17px, 17px, 17px, 20px);
  width: 100%;
  position: relative;

  div.karma-title2-field{
	color: #394959;
	font-family: HelveticaNeue;
	font-size: 15px;
  }
}