
.karma-title-controller{
  align-items: center;
  background-color: rgba(65, 156, 248, 0.12);
  display: flex;
  height: 46.84px;
  padding-left: 20px;
  width: 100%;

  div.karma-title-field{
	color: #419CF8;
	font-family: HelveticaNeue;
	font-size: 15px;
  }
}