.karma-range-slider-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 7px 24px 14px;
  position: relative;
  text-align: center;

  .karma-range-slider-content{
	align-items: center;
	display: flex;
	padding-left: 5px;
	width: 100%;

  }

  .rangeslider--horizontal{
	background: #cbe5fd;
	border-radius: 50px;
	box-shadow: none;
	height: 5px;
	width: 68%;

	.rangeslider__handle {
	  background-image: none;
	  background-color: #419CF8;
	  border: 1px solid #419CF8;
	  height: 14px;
	  top: -5px;
	  touch-action: pan-y;
	  width: 14px;
	  -ms-touch-action: pan-y;

	  &:after{
		background-image: none;
	  }
	}

	.rangeslider__fill{
	  background: none;
	  box-shadow: none;

	}
  }
  .karma-range-slider-number {
	display: inline-flex;
	margin-left: 13px;

	#karma-range-slider-input{

	  &:focus{
		border-color: #bbb;
		outline: none;
	  }
	  background: none;
	  border: 1px solid #bbb;
	  border-right: 0;
	  border-radius: 40px 0 0 40px;
	  color: #000;
	  display: flex;
	  font-size: 12px;
	  height: 32px;
	  padding: 0;
	  text-align: right;
	  width: 34px;

	}

	.karma-unit{
	  align-items: center;
	  border: 1px solid #bbb;
	  border-radius: 0 67px 68px 0;
	  border-left: 0;
	  display: flex;
	  font-size: 14px;
	  font-weight: 400;
	  height: 32px;
	  margin-bottom: 0;
	  padding: 0 7px 2px 0;
	}
  }

  input::-webkit-inner-spin-button{
	margin: 0;
	-webkit-appearance: none;
  }

  input::-webkit-outer-spin-button{
	margin: 0;
	-webkit-appearance: none;
  }
}
.karma-all-controller-title{
  color: rgba(57,73,89,0.8);
  font-family: HelveticaNeue;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  width: 100%;
  text-align: left;
  padding-bottom: 17px;
  padding-left: 7px;
}
